[2020-02-21 16:29] Myvryn commented on #1206
Oh my word...  :P  Figured it out. When I went to reproduce this, EVERY url I had was producing the same error.

Looking at the code, I had module.export rather than module.exports  <-- missing an 's'

uggg...

[2020-02-21 18:07] soulgalore commented on #1203
Ah cool @brennie that sounds good. At the moment I'm mostly interested in getting everything to work in Travis, so I know we don't break things on updates. But getting Android to work is nice.

[2020-02-21 18:10] soulgalore commented on #1205
@jdmchone yes please create another issue, that looks like something else. Nothing should have changed in the commands structure in scripting between releases so curios finding out what's the problem.

[2020-02-21 18:11] soulgalore commented on #1206
Np @Myvryn similar things has happened to me too :) Can we close the issue then?

[2020-02-21 19:03] jdmchone opened #1207 "Scripted checks not working beyond sitespeed.io version 11.9.3"
We're seeing an issue when running scripted tests after pulling the latest git repo for sitespeed.io. Our tests work with sitespeed.io version 11.9.3 and previous, but don't work in 12.0.1 with updated browsertime (8.1.0). Getting the following errors (we redacted the sitenames and selector names):

[2020-02-21 15:30:33] INFO: Versions OS: linux 4.9.184-linuxkit nodejs: v12.16.1 sitespeed.io: 12.0

[2020-02-21 19:40] soulgalore commented on #1207
Hi @jdmchone can you show me more exactly where it fails, what you do so I can try to reproduce?

[2020-02-21 20:26] jdmchone commented on #1207
Nevermind. Figured it out. Let you decide if you want to delete this issue or not.
So, in older versions of browsertime, you could use "s or 's for things like **bySelector("selectorname");** or **bySelector('selectorname');**. But, that was fixed in browsertime 8.* and so we needed to update all of our scripting, accordingly. It's a cleaner approach that trying to use both, and using "s would req

[2020-02-21 22:19] jdmchone commented on #1205
Done. Other issue created.

[2020-02-21 23:33] Myvryn commented on #1206
Definitely

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Peter Hedenskog <notifications@github.com>
Sent: Friday, February 21, 2020 10:11:21 AM
To: sitespeedio/browsertime <browsertime@noreply.github.com>
Cc: Eddy Jones <ejones@estevenjones.com>; Mention <mention@noreply.github.com>
Subject: Re: [sitespeedio/browsertime] browsertime complaining about 'urlO

[2020-02-23 11:10] #1207 closed

[2020-02-23 11:11] #1206 closed

[2020-02-26 15:36] dpalmeiro commented on #1203
I am not sure how you plan on recording the screen, but for what it's worth the last time we tried to do this with GDI it caused a lot of overhead.  Perhaps, there is a more efficient solution through directshow or some other method.

[2020-02-26 15:48] dpalmeiro opened #1208 "Error running browsertime due to missing output directory"
Running this simple command results in a missing directory error:

[code]
This was using 52121ec7af3583987ba1ec58ba8796e49762b7c6 on Linux Mint 19.

[2020-02-26 16:00] dpalmeiro commented on #1208
This works with node v10.  I'm not sure if v10 is now required, but perhaps a warning message is necessary since some distros may not be up to v10 yet.

[2020-02-26 16:09] dpalmeiro opened #1209 "vis-colors temporary directory is never removed"
After it is finished, visualmetrics.py does not clean up the vis-colors temporary directory.

[2020-02-26 18:07] gmierz commented on #1208
Yup, node v10+ is required for Browsertime and I agree it would be great to have a warning message about this.

I wonder if having a .nvmrc file would help with this.

[2020-02-26 20:29] acreskeyMoz opened #1211 "Provide an option to re-enable Firefox Tracking Protection"
By default, Browsertime disables Firefox's Tracking Protection feature and supporting tech.

See:
[firefoxPreferences.js](https://github.com/sitespeedio/browsertime/blob/52121ec7af3583987ba1ec58ba8796e49762b7c6/lib/firefox/webdriver/firefoxPreferences.js#L167-L168)

Tracking Protection can have a significant impact on performance (particularly 'Strict' mode which blocks resources from identified t

[2020-02-26 20:35] soulgalore commented on #1208
Yeah sorry I introduced this when I changed to how we use mkdir directly from fs (instead of mkdirp). Actually we always only actively supported LTS (12.x now), but that isn't reflected in the package.json (10.13) but we don't have the  .nvmrc file that you pointed out @gmierz so we should add that.

[2020-02-26 20:40] soulgalore commented on #1211
@acreskeyMoz the reason for this was that the Tracking Protection introduced so much variance in the metrics, since when running a new profile every time, it download the tracking protection lists during the page that is under test, do you know if that has been changed?

[2020-02-26 20:40] #1209 closed

[2020-02-26 20:44] soulgalore commented on #1203
Yeah but I think it will add some value even though it adds overhead, as long as it has more or less stable overhead. Also it fit into my long-term goal to get the Microsoft team more involved in Browsertime :D

[2020-02-26 20:45] acreskeyMoz commented on #1211
@soulgalore - we disable tracking protection for some tests for that very reason.
Unfortunately the tracking protection lists are still downloaded on launch and can still introduce variance.
We work around this by either introducing conditioning steps in a selenium script prior to performing the measured pageload. Or else we use a system that copies over stable profiles.

[2020-02-26 21:10] soulgalore commented on #1211
I see. Is this almost the same as `--firefox.disableSafeBrowsing false` ? https://github.com/sitespeedio/browsertime/blob/master/lib/firefox/webdriver/disableSafeBrowsingPreferences.js so there are only a couple of them that needs to be moved?

[2020-02-26 21:15] acreskeyMoz commented on #1211
Yes, that's it.
I will need to verify the behaviour against tracking protection test sites, but that is the bulk.
Certainly these two would want to be moved with this option:
[code]

[2020-02-27 07:44] soulgalore commented on #1211
Cool, @acreskeyMoz if you can create a PR, I can do fix release.

[2020-02-27 11:01] soulgalore commented on #1208
I added a PR for check in the CLI, I think that's the safest way to do the check independent of what tools you use to install.

[2020-02-27 16:58] sefeng211 opened #1213 "VisualMetric progress generates null timestamp"
Sample output
[code]
These null timestamps are not right, and I am fixing them

[2020-02-27 20:44] sefeng211 opened #1214 "[Firefox] Present the graph of visual metrics in profiler without the need of profiler screenshots."
Using browsertime to collect firefox profiles allow the profiler to present a visual metrics graph, [here's an example](https://profiler.firefox.com/public/7788671ed67417b9acd056310b99715892ffefe1/calltree/?globalTrackOrder=5-6-7-4-0-1-2-3&hiddenGlobalTracks=1-2&localTrackOrderByPid=21091-1-2-0~21094-0~21092-0~21093-0-1~&thread=4&v=4), but this graph would only be presented if you have `screenshot

[2020-02-28 06:58] soulgalore commented on #1214
Hi @sefeng211 very cool, I did't know it was included in the profiler. So what need to be done in Browsertime, I didn't fully get that?

[2020-02-28 16:47] jesup commented on #1211
We're using a preload script to allow first-run stuff to resolve (load www.mozilla.org/en-US, wait N seconds, load about:blank, wait Y seconds).  Even better should be to use a --firefox.profileTemplate <profile dir>, but one needs to be a little careful with how the profile is generated - best is for it to be built with the same version, and even more preferably built (or at least updated) in the

[2020-02-28 17:48] brennie commented on #1214
@soulgalore I believe what @sefeng211 is suggesting is that instead of doing

[code]

to generate a profile with screenshots AND use visual metrics, it should be possible to do:

[code]
and use the frames from the video as the screenshots in the profile.

[2020-02-28 17:58] sefeng211 commented on #1214
Yup exactly ^! Basically just remove the requirement of `--firefox.geckoProfilerParams.features "screenshots"`

[2020-02-28 18:05] soulgalore commented on #1214
Yes, feel free to change (and merge), you guys are the experts on Firefox stuff so please go ahead :)

[2020-02-28 18:09] soulgalore commented on #1211
Ok, so I wonder how do we do it the best way? I think its one use case so you at Mozilla can use it but it would be cool if other Browsertime (and sitespeed.io) users also could run their tests with Tracking Protection turned on.

[2020-03-09 14:23] tarekziade opened #1216 "single module test script"
I'd like to have the ability to pass to Browsertime a single JS module containing postScript, preScript and tests functions to make it look closer to a standalone test script a developer can have in their tests suite.

current proposed template:

[code]

when this script is loaded, BT will look at the three variables exported by the module and use them, or fallback to the existing single function

[2020-03-10 01:34] phongiswindy commented on #636
@soulgalore I think this error is still there from the up stream in the latest version 8.1.2. I was trying to get HAR from Firefox for sites like nihb.org, neurowaves.com and get the same error. Hope the up-stream package will be fixed soon.

[2020-03-10 08:15] soulgalore commented on #1216
Hi @tarekziade cool. Let me think about it for a couple of days. Thinking maybe we could just use the current scripting with some small fixes, but that's maybe what you already done in your patch, I haven't looked.

[2020-03-10 08:26] tarekziade commented on #1216
yeah, let me update the runner so you can see what I've done. of course this is just the prototype, I'll need to do it in a cleaner way with tests etc

[2020-03-10 13:10] soulgalore opened #1219 "Use profiles to use tracking protection"
Since Tracking Protection is turned on by default for users and we (=Browsertime) turn it off (to get stable metrics) we potentially give wrong performance metrics of Firefox when a user runs a test. The problem is that with Tracking Protection turned on, Firefox download a new fresh list of domain to block on startup and download can give unstable metrics.

A way to fix that would be to create a

[2020-03-10 13:11] soulgalore commented on #1211
We had a meeting and I think this was the outcome: Since Tracking Protection is turned on by default for users and we (=Browsertime) turn it off (to get stable metrics) we potentially give wrong performance metrics of Firefox when a user runs a test. The problem is that with Tracking Protection turned on, Firefox download a new fresh list of domain to block on startup and download can give unstabl

[2020-03-10 13:12] soulgalore commented on #1219
Closing same as #1211

[2020-03-10 13:12] #1219 closed

[2020-03-10 13:17] soulgalore commented on #1142
@tarekziade a side note: we also use https://github.com/paulirish/speedline to calculate speed index from the Chrome devtools log (as an alternative using Visual Metrics).

I think for Firefox using the internalWindowrecorder we could rework Speedline to calculate the same thing but for Firefox (or plain images with timestamps), that way getting Visual Metrics for Firefox would work without python

[2020-03-10 14:25] tarekziade commented on #1142
That could make deployments easier indeed - does this tool covers the same metrics ?

[2020-03-10 15:19] soulgalore commented on #1142
We will miss out Contentful Speed Index. It support First Visual Change, Speed Index, Perceptual Speed Index and Last Visual Change. That lib was done by https://github.com/pmdartus a long time ago and then later adopted by the Chrome team and used by Lighthouse. I'm thinking that the core functionality we need is there and we could either ask if they accept PRs to make it more generic or give cre

[2020-03-16 22:50] soulgalore commented on #1208
If you are running < 10 you get a error in the cli, I think that is enough for now,

[2020-03-16 22:50] #1208 closed

[2020-03-18 21:52] #1216 closed

[2020-03-19 12:31] shaqb opened #1222 "Setting ViewPort and UserAgent chops off part of the video and filmstrips"
When I run the following command:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:12.2.2 https://www.sitespeed.io --mobile`

I get a set of filmstrips and videos that use the OOTB iPhone6 UserAgent and ViewPort in my tests.

If I run `docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:12.2.2 https://www.sitespeed.io --browsertime.viewPort 360x640 --browsertime.

[2020-03-19 12:32] soulgalore commented on #1222
Hi @shaqb thanks for the bug report, yes something looks wrong. Let me try to have a look and try to fix it later this week.

[2020-03-19 13:21] shaqb commented on #1222
Thanks @soulgalore. I have also tried playing around with lots of Chrome Mobile Emulation settings like:
[code]
and see the same issues. I can provide more reports/details if you need!

[2020-03-19 13:22] soulgalore commented on #1222
I think pixel ratio could be a problem but I haven't looked. No I could reproduce that's good.

[2020-03-19 21:14] soulgalore commented on #1222
It works for me in Firefox, so it looks to be something off on how setup everything for Chrome.

[2020-03-20 11:24] soulgalore opened #1223 "Visual Metrics pick up Chrome info bar as first visual change"
Checkout how the infowar "Resolving host" is picked up as first visual change:
<img width="892" alt="Screenshot 2020-03-20 at 12 21 07" src="https://user-images.githubusercontent.com/540757/77159327-6a130180-6aa5-11ea-8239-9f5cd4e5cf9a.png">

The bottom margin is default 10 pixels. Checking in PS it is actually 16 pixels in this case, so let me change that.

[2020-03-20 11:25] shaqb commented on #1222
I just tried with Firefox and looks like the issue remains to me.

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:12.2.2 -b firefox https://www.sitespeed.io --browsertime.viewPort 360x640 --browsertime.userAgent "Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1"`

[2020-03-20-11-22-10.zip](h

[2020-03-20 13:54] soulgalore commented on #1223
Fixed in latest release.

[2020-03-20 13:54] #1223 closed

[2020-03-24 09:00] soulgalore commented on #1211
I can work on this but I need help. @tarekziade could you help me generate a profile with pre-made tracking protection list? I could also make two different versions of the preferences and make a PR and then you all can review it?

[2020-03-26 15:43] mstange opened #1226 "ContentfulSpeedIndex (CSI) is currently problematic because it punishes staying on the last frame if the last frame is not the most contentful"
The [CSI algorithm implemented in visualmetrics.py](https://github.com/sitespeedio/browsertime/blob/0d01f12f2a8eb2c6d8c935f44b8c28fcd37fe33b/browsertime/visualmetrics.py#L1649-L1705) currently does the following:
 1. For each frame, calculate a contentfulness score (based on edge detection and counting "edge" pixels).
 2. Find the maximum contentfulness across all frames.
 3. For each frame, calcu

[2020-03-26 15:53] acreskeyMoz commented on #1226
So there would be no penalty for having "too much" contentfulness (relative to final) during the pageload?
Just to verify my understanding, not a real concern: Could one not render random high contentful graphics during pageload and then display the final image to "game" a higher CSI?

[2020-03-26 16:02] mstange commented on #1226
I don't know if punishing "too much" contentfulness would be good or bad. We might want to experiment with both. Do we want to reward "any kind of content" on the screen or only "the right (amount of) content"?
And yes, CSI is easily gameable just by putting noise on the screen earlier. I think the thinking behind CSI was that any kind of content is good to have on the screen early, even if it doe

[2020-03-26 18:58] mephisto83 opened #1545 "Extrac space at the top of a file causes a problem"
If i have a empty space before the javascript code, the results won't make it to the metrics.
If i remove the line space, then it works.

![image](https://user-images.githubusercontent.com/7797183/77685507-8b726280-6f69-11ea-8b28-435dad1048b2.png)

[2020-03-29 05:01] gogo9th opened #1228 "Browsertime doesn't terminate the browser if Date.now() is overwritten to return the same value"
Hi,

For my personal experimental reason, I had to overwrite Date.now() to return always the same value. But if I do this, browsertime doesn't stop the browser even after the pageload event is fired. I wonder how I could make browsertime automatically finish when the pageload is complete.

Ronny

[2020-03-29 20:29] soulgalore commented on #1228
Hi @gogo9th what version are you using? I think since 8.0 we changed default pageComleteCheck to use `performance.now` instead of `Date.now()`, meaning it should work?

You can also choose yourself when to end your test, checkout https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-end-your-test.

Best
Peter

[2020-03-31 10:50] gogo9th commented on #1228
Hi Peter,

Thanks for your comments. I think this works!

[2020-03-31 10:50] #1228 closed

[2020-04-03 11:31] soulgalore opened #1231 "Extension server for clearing the cache isn't working for Firefox"
It has been broken since a refactor, at least when using scripting.

[2020-04-03 16:03] gogo9th opened #1232 "Running browsertime without chromedriver"
Hi,

I have a desperate issue with running browsertime on Linux-on-Dex:

1. My current Chromium version is 79 and I cannot upgrade my chromium browser to the latest 80 version, because the apt repository of LInux-on-Dex is broken and out of service
2. My current chromedriver version is 80 and I cannot downgrade it to 79 because there is no version 79 binary available for Linux-on-Dex. I cannot re-

[2020-04-11 22:37] gogo9th commented on #1232
Hi, thanks for your kind feedback. I finally managed to restore the deleted chromedriver, very fortunately. Thanks again!

[2020-04-11 22:37] #1232 closed

[2020-04-11 22:40] gogo9th opened #1233 "Re-using the browser cache at the initial measurement trial"
Hi,

I am having a trouble in re-using the browser cache when using browsertime. In particular, I need to measure the pageload time and speed index after for a logged-in webpage. Therefore, I need to run browsertime, log in, close it, and re-start browsertime. But when I re-start browsertime, it doesn't seem to use the previous session's browser cache. For some reason, it seems to force not using

[2020-04-12 08:54] soulgalore commented on #1233
Hi @gogo9th the cache is always cleared when you re-open the browser in the current setup. The way you can do it is to run multiple script (start with a login, then measure what you want, then ...). Would that help you?

[2020-04-12 20:18] gogo9th commented on #1233
Hi @soulgalore, I first tried to login to Gmail after launching the browser for https://gmail.com, but it doesn't work:

[http://attach.mail.daum.net/bigfile/v1/urls/d/W8LMjqQwMI4rdINIVAYoxB-tgDE/XDUehjxRoEtvFMwd6jsrHQ)](Screenshot)

And I tried to inject "console.log('hello')" by the following:

`nodejs ../node_modules/browsertime/bin/browsertime --pageCompleteCheckPollTimeout 10000 -injectJs 'co

[2020-04-13 11:18] soulgalore commented on #1231
Fixed.

[2020-04-13 11:18] #1231 closed

[2020-04-13 11:23] soulgalore commented on #979
The fix has been release, please report back if its still an issue.

[2020-04-13 11:23] #979 closed

[2020-04-13 11:24] soulgalore commented on #934
Fixed and released.

[2020-04-13 11:24] #934 closed

[2020-04-14 10:51] soulgalore commented on #1120
This has been released and fixed upstream.

[2020-04-14 10:51] #1120 closed

[2020-04-15 09:00] soulgalore opened #1236 "Disable "add this website to your Home screen""
Testing on Firefox on Android I get this splash screen (not on Chrome):
![Image from iOS (4)](https://user-images.githubusercontent.com/540757/79319136-37bfbd00-7f08-11ea-9fb3-6e6abe907d0d.jpg)

[2020-04-15 11:58] soulgalore opened #1239 "Crawling on Chrome in Android breaks devtools port"
The errors is from sitespeed.io but my guess is that the bug is somewhere in Browsertime.

[code]

[2020-04-16 11:10] soulgalore opened #1242 "Leaking ADB forwards for devtools on Android"
It looks like we leak one adb forward per test. I can see that we close the one that we setup ourself, but there are two forwards per run, so my guess is that Selenium opens but do not close the other one.

[code]

The easiest fix is probably just to close them all one by one per id.

[2020-04-16 12:01] soulgalore commented on #1239
Coming in next release.

[2020-04-16 12:01] #1239 closed

[2020-04-17 07:52] soulgalore commented on #1242
Fixed in latest release.

[2020-04-17 07:52] #1242 closed

[2020-04-18 10:22] soulgalore commented on #1236
I got some help from the devs at Mozilla. The current Firefox Android version pickup the website is a PWA and asks to add it, there's no way to switch that off at the moment but one workaround could be to pre-warm by accessing the site multiple times.Not sure exactly how that would work though with clearing the cache. Hopefully this will be configurable in the next major version?

[2020-04-20 08:26] soulgalore opened #1244 "Browsertime extension doesn't work on Firefox/Android"
There's a problem running Firefox on Android if you wanna use the BrowsertimeExtension to add the extra functionality it gives. Installing the extension works fine, but at the moment it gets triggered accessing localhost. There was a hack before enabling it by example.org but since Chrome didn't support extensions on Android I think it was removed? Need to look into it and see if there's a workaro

[2020-04-22 07:56] soulgalore commented on #1056
Coming in the next release.

[2020-04-22 07:56] #1056 closed

[2020-04-22 08:01] soulgalore commented on #1222
Hmm you are right, now when I tested with Firefox I get the same problem, let me try to fix this.

[2020-04-22 08:38] soulgalore commented on #1222
The problem is how we handle viewPort vs setting the screen size, so there's a discrepancy there. Let me see if I can find any best practice how we should set it up.

[2020-04-22 14:30] tarekziade commented on #1211
We generate and update conditioned profiles in our CI that should meet your requirements.
I guess you can fetch them from their permalinks.

I need to know the list of systems you need to support, and I can prepare that list

[2020-04-23 06:25] soulgalore commented on #1211
Think of me like I don't know anything on how it works :) What do you mean by system? I think it would be ok to just take a snapshot of the list and then update it now and then + we then have an example of a profile, so it easier for users to create their own, following the same pattern.

[2020-04-23 06:32] soulgalore opened #1249 "appConstants in the result.json"
Hi @gmierz wanna check one thing that I missed when we merged all your upstream fixes: If your run Firefox today the result JSON includes everything in https://github.com/sitespeedio/browsertime/blob/master/browserscripts/browser/appConstants.js

so it looks something like this:
[code]

Is that something you always need from your side? I wanna put that behind a flag, so users needs to enable it to

[2020-04-23 15:24] soulgalore opened #1251 "Add "rooted" switch for Android"
We should add a rooted switch for Android that could enable rooted functionality on the phone. We could check number of processes, do performance tuning on the phone and more.

[2020-04-23 16:37] gmierz commented on #1249
Hi @soulgalore, I agree, we shouldn't always have that information in the results JSON and it should only be gathered if a flag such as `--firefox.appconstants` - what do you think the flag should be called?

[2020-04-24 07:51] 789dry commented on #847
Hi @soulgalore ,is this issue solved?can you give some more detail,thanks.

[2020-04-24 12:10] soulgalore commented on #1249
Works fine, thanks for the PR :)

[2020-04-24 12:10] #1249 closed

[2020-04-24 13:03] acreskeyMoz commented on #958
This is an area of interest at Mozilla, in particular for Android browsing.
Like other test frame works, Browsertime initiates navigation via a `window.location` write.

We'd like to add the option to trigger the navigation from an app link (e.g. android Intent).
However this creates a new tab in most browsers, making the metrics capture fail.
I have made proof-of-concept app modifications that op

[2020-04-27 16:16] sefeng211 opened #1254 "Don't let pref setting use isNaN() on the value if it's 'false' or 'true' to decide if it's a Number"
https://github.com/sitespeedio/browsertime/blob/master/lib/firefox/webdriver/index.js#L134 is problematic if the value is true or false, because `isNaN` evaluates to false for both cases, so it ends up using `Number`

We can fix it by doing
[code]

[2020-04-27 17:57] soulgalore commented on #1254
Hi @sefeng211 great I missed that. I think from the beginning all configurations was just handled as strings as Chrome configs are done, and then I/we added a use case at a time. Let me fix that for the next release.

[2020-04-28 06:53] soulgalore commented on #1254
Released in 8.7.1, thank you @sefeng211 !

[2020-04-28 06:53] #1254 closed

[2020-04-28 12:16] soulgalore commented on #1251
Coming in next release!

[2020-04-28 12:16] #1251 closed

[2020-04-29 06:29] soulgalore opened #1261 "Unhandled data for Firefox"
[code]

[2020-04-29 11:22] soulgalore opened #1264 "Adjust font size on the video"
Running tests on a Galaxy S10 looks like this:
<img width="420" alt="Screen Shot 2020-04-29 at 1 20 42 PM" src="https://user-images.githubusercontent.com/540757/80590522-4b951400-8a1c-11ea-9e59-4ab64de65b77.png">

The font is too large and everything do not fit.

[2020-04-30 08:38] soulgalore commented on #1261
Released a fix but it's still an issue:
[code]

It looks like sometimes we don't get any JS from Firefox. Yesterday I couldn't reproduce it, lets see if I can try it again.

[2020-05-01 00:37] petemyron opened #1266 "[feature request] spa testing - save artifacts even if commands.wait/click fail"
When testing spa pages and an element is not found, there is no video, no images, not even a directory saved locally to troubleshoot.

For example, I start a measurement and look for some element to click which is not found so it errors:

[code]

producing:
[code]

That's all fine as far as logging goes, but it begs the question, 'why not?' So, it would be helpful to still produce the video, artif

[2020-05-05 11:09] soulgalore commented on #1266
Yeah maybe we can do something smarter. I usually use the screenshot functionality in catch clauses: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#screenshot

So something like this:
[code]

[2020-05-06 09:43] soulgalore commented on #1264
Fixed and released.

[2020-05-06 09:43] #1264 closed

[2020-05-06 18:44] soulgalore opened #1274 "Catch NoSuchSessionError for Safari"
Running many runs for Safari on iOS sometimes fails:

[code]

It can fail that's ok but we should continue to try another run or what happens with  _NoSuchSessionError_? In this example I tried to do 75 runs.

[2020-05-06 19:37] soulgalore opened #1275 "Running the coach in Safari on iOS can make Browsertime freeze"
Testing on Wikipedia got this error:

[code]

And then freeze for 30 min, so somehow the timeouts for Safari don't work.

[2020-05-11 13:29] acreskeyMoz opened #1279 "[feature request] Add ability to successfully launch Browser and shutdown without a pageload"
This is likely more of a Mozilla feature request:

We're using Browsertime to measure various android startup flows.
One of them doesn't actually load a site - we instead measure time to Home Activity via logcat messages.

However Browsertime seems unhappy being launched without a page to load.

I did try a custom script such as this:
[code]

I was hoping for a successful shutdown after running th

[2020-05-18 16:32] soulgalore opened #1281 ""Server terminated early with status 1" when running Chrome"
Today running on a new server running Ubuntu 18 running Chrome 81.0.4044.138  and the corresponding Chromedriver version, a lot of "Server terminated early with status 1" started to come in the log.

And then later today running same browser version on OS X it happened one with the same browser version. This is something new and that I haven't seen before. Lets try to catch a Chromedriver log and

[2020-05-18 16:43] soulgalore commented on #1281
At least on OS X the logs looks like this:
[code]

[2020-05-20 21:27] petemyron commented on #1266
I assume those are uploaded to s3 (if that's configured), but are they referenced/accessible in the html reports?

[2020-05-24 09:56] vishallanke opened #1287 "ERROR: WebDriverError: chrome not reachable in GIT Pipeline using Sitespeed NPM"
ERROR -

I am using NPM Module of Sitespeed
[code]

YML File contains-
[code]

[2020-05-24 16:11] soulgalore commented on #1287
Hi @vishallanke the most common cases them Chrome don't start its either XVFB not running or a mismatch between Chrome and Chromedriver. When there's a problem with Chrome, I usually enable the Chromdriver log to see if there's more info there. You can enable that with `--browsertime.chrome.enableChromeDriverLog` and look in the result folder for the log file and see if you get more info.

[2020-05-24 16:28] vishallanke commented on #1287
Thanks. I will try this.
I assume that the scenario that I am trying is possible, Sitespeed NPM and GIT Pipeline

[2020-05-25 20:14] acreskeyMoz commented on #1279
I've been looking into this and the problem is that in this case the tested android browser was not creating its gecko session.
Without the gecko session the geckodriver could not establish the automation session.
If I force-create the gecko session then Browsertime correctly and gracefully handles the given trivial test.

So closing the bug -- this works correctly in Browsertime once the automati

[2020-05-25 20:14] #1279 closed

[2020-05-26 08:38] vishallanke commented on #1287
XVFB  is not running on Runner is the issue. Please close the defect.
Thanks for the help

[2020-05-26 14:44] #1287 closed

[2020-05-26 14:44] soulgalore commented on #1287
great :)

[2020-05-27 21:48] acreskeyMoz opened #1291 "SeleniumRunner::start() tries to start the browser 3 times - please make this configurable"
See the 3 retries in SeleniumRunner::start()
https://github.com/sitespeedio/browsertime/blob/ce638898742d2a35a4e8819e35ed32c6941565db/lib/core/seleniumRunner.js#L66

Please make this a configuration `.option` (for Mozilla automation purposes)

[2020-05-28 06:48] soulgalore opened #1293 "Firefox errors in Travis "Cannot read property 'appconstants' of undefined""
[code]

[2020-05-28 06:56] #1293 closed

[2020-05-28 07:50] soulgalore commented on #1291
This is in master now `--browserRestartTries`.

[2020-05-28 11:50] acreskeyMoz commented on #1291
Awesome, thank you @soulgalore !

[2020-05-29 11:50] #1291 closed

[2020-06-02 12:12] soulgalore opened #1297 "MS Edge not working"
Running with `-b edge` try to start Chrome instead of Edge.

[2020-06-02 17:30] soulgalore commented on #1297
Ok I think this all broke with Edge 80 see https://docs.microsoft.com/en-us/microsoft-edge/webdriver-chromium?tabs=javascript#choose-a-webdriver-language-binding

[2020-06-03 13:07] soulgalore commented on #1297
Released earlier today.

[2020-06-03 13:07] #1297 closed

[2020-06-03 13:07] soulgalore commented on #1281
I haven't seen this again, so it was probably a problem with Chromedriver that got fixed.

[2020-06-03 13:07] #1281 closed

[2020-06-04 08:35] soulgalore opened #1302 "Fix running ffmpeg/visual metrics for OS X on GitHub Action"
At the moment we don't run ffmpeg/visual metrics for our Github Action tests for OS X:
https://github.com/sitespeedio/browsertime/blob/master/.github/workflows/safari.yml

The problem is that when we start FFMPEG we get:

[code]

And we don't catch that when we wait on FFMPEG to start so it just hangs.

Another thing I noticed is this:
[code]

[2020-06-04 08:36] soulgalore opened #1303 "Enable VisualMetrics python tests on GitHub Action"
https://github.com/sitespeedio/browsertime/blob/master/.github/workflows/linux.yml#L39

[2020-06-04 10:58] soulgalore commented on #1302
There's probably some problem with the screen, we never get to:
[code]

[2020-06-07 23:43] soulgalore commented on #1261
After another fix this seems to be fixed.

[2020-06-07 23:43] #1261 closed

[2020-06-07 23:44] soulgalore commented on #1203
Visual Metrics works in the new [GitHub Action for Windows](https://github.com/sitespeedio/browsertime/actions?query=workflow%3A%22Windows+Edge%22).

[2020-06-07 23:47] soulgalore commented on #1189
Moved the tests to GitHub Actions and it works.

[2020-06-07 23:47] #1189 closed

[2020-06-09 08:12] tarekziade opened #1308 "add privileged script APIs"
Currently we have:

- js.run(javascript)
- js.runAndWait(javascript)

and running JS in privileged mode requires calling low-level APIs in the driver.

I would like to propose the addition of 2 apis for this, to run in chrome context:

- js.runPrivileged(javascript)
- js.runPrivilegedAndWait(javascript)

[2020-06-09 17:32] corbett3289 opened #1309 "Returned File Association Types"
Running the example command from the documentation produces an error:

C:\Users\andrew.corbett>sitespeed.io https://www.sitespeed.io/

C:\Users\andrew.corbett>

This file doesn't have an app associated with it. Its a .io file format and when I open it it looks like the below code:

[code]

Is this a bug or a lack of documentation on how to handle file expected file outputs?

[2020-06-09 17:34] #1309 closed

[2020-06-09 17:35] corbett3289 commented on #1309
This should be in site speed not browser time. My bad.

[2020-06-15 20:55] soulgalore commented on #1308
Checked the code and we already have` js.runPrivileged(javascript)` :) I added the andWait method, check if it is what you need.

[2020-06-15 21:21] soulgalore commented on #1123
This was fixed right?

[2020-06-15 21:21] #1123 closed

[2020-06-15 21:24] soulgalore commented on #1195
Done for the Windows Github Action

[2020-06-15 21:24] soulgalore commented on #1105
Fixed when we updated to 20

[2020-06-15 21:24] #1105 closed

[2020-06-18 20:02] soulgalore commented on #1308
Merged to main.

[2020-06-18 20:02] #1308 closed

[2020-07-02 19:41] danyaljj commented on #975
There is no update on this thread?

[2020-07-02 21:15] soulgalore commented on #975
It worked when I tried it, can you help me making a reproducible test case @danyaljj ?

[2020-07-09 14:44] sefeng211 opened #1320 "Why does SpeedIndex have second as their unit?"
Looks like starting from this [commit](https://github.com/sitespeedio/browsertime/commit/296b78bd5713ef096e5643a8bab54167cd68cac7), `SpeedIndex` is interpreted as a time, this feels weird and incorrect.

[2020-07-09 14:48] soulgalore commented on #1320
Hi @sefeng211
I think Speed Index always been ms/s see https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index but there was a move a year ago or something where all tools started to show it instead of having it unit-less, see for example https://github.com/GoogleChrome/lighthouse/issues/6130

[2020-07-09 15:04] gmierz commented on #1320
Hi @soulgalore, I find that using seconds as the unit is a bit misleading given that *SI metrics actually have units of `%complete * time` which is likely why lighthouse is showing them as unitless now.

I think the webpagetest documentation is also misleading since speed index is calculated as the area under a curve which is not a time value. I would agree that it approximates a temporal value, b

[2020-07-11 22:57] soulgalore opened #1322 "Cleanup browser delegate structure"
One of the things that have suffered the most over the years are the structure if the different browser delegates. We've been adding new functions over time and today it looks something like this:

* onStart
* afterBrowserStart
* onStartIteration
* beforeEachURL
* beforeCollect
* onCollect
* afterCollect
* onStopIteration
* failing
* clear

I think we can make this better and more easier to unders

[2020-07-20 13:00] mploquin opened #1326 "TypeError: Cannot set property 'variance' of undefined"
Hi,

When i run my tests with throttle engine, i have an error **TypeError: Cannot set property 'variance' of undefined**  with somes connectivity profiles like dsl, fois, lte :

`[2020-07-20 13:07:01] INFO: [sitespeedio] Versions OS: linux 5.4.0-40-generic nodejs: v12.16.2 sitespeed.io: 13.3.2 browsertime: 8.14.0 coach: 5.0.1
[2020-07-20 13:07:01] INFO: [sitespeedio] The following plugins are ena

[2020-07-20 13:22] soulgalore commented on #1326
Hi @mploquin I think those profiles aren't existing in browsertime (see https://www.sitespeed.io/documentation/browsertime/configuration/) only in Throttle, so you need to create custom settings to get it to work.

[2020-07-20 13:45] mploquin commented on #1326
Thank you for your quick reply :rocket:  !
So it's not possible to use new profiles described in the file [here](https://github.com/sitespeedio/browsertime/blob/main/lib/connectivity/trafficShapeParser.js) ?

[2020-07-20 15:44] soulgalore commented on #1326
Apparently not :) It looks strange, I'll have a look when I find the time.

[2020-07-21 07:33] mploquin commented on #1326
Oups.. it works in fact with `newConnectivityProfiles` option
Maybe just add this option in the documentation

[2020-07-21 20:23] soulgalore commented on #1326
Yeah I think I somehow missed implementing everything before releasing this, let me have a look before I do the next release.

[2020-08-04 15:59] acreskeyMoz opened #1328 "Add chrome.android.intentArgument option (only firefox.android.intentArgument is supported)"
Browsertime supports optional android intent arguments for Firefox (`firefox.android.intentArgument`).

These are passed through `adb` and can be used to specify how the application will be launched.
For example, the browser can be launched to load a given website.

https://github.com/sitespeedio/browsertime/blob/0bfa3049293139e695d02a2ca0de594f3456d64c/lib/support/cli.js#L446

Example usage:
[cod

[2020-08-04 16:06] acreskeyMoz opened #1329 "--processStartTime option crashes if used on Chrome (android)"
Using the option `--processStartTime true` will cause a crash when used on Chrome for android.

For example, run this test:
```{node} {browsertime.js} https://www.example.com -vvv --browser chrome --processStartTime true --android --chrome.android.package com.android.chrome```

And it will crash with these logs:
[code]

It looks like the object `browser` from `this.result[this.numberOfMeasuredPage

[2020-08-04 21:40] sraturi commented on #1328
I Don't have privileges to add myself as an assignee but I am working on this issue.

[2020-08-04 21:52] acreskeyMoz commented on #1329
I'm working on this locally -- one option that I like is moving this to `browserScripts.timings.processStartTime`, but I'll need some guidance on that.

[2020-08-06 02:32] RayKimEX commented on #866
Same issue for me

<img width="1909" alt="Screen Shot 2020-08-06 at 11 31 55 AM" src="https://user-images.githubusercontent.com/10216624/89484017-78ee1c80-d7d8-11ea-8c4d-be53514d9093.png">

[2020-08-06 02:33] RayKimEX commented on #866
<img width="1780" alt="Screen Shot 2020-08-06 at 11 33 25 AM" src="https://user-images.githubusercontent.com/10216624/89484098-a89d2480-d7d8-11ea-8d61-dc7823491aac.png">

[2020-08-06 02:34] RayKimEX commented on #866
@soulgalore

[2020-08-06 20:31] soulgalore commented on #1328
Thanks @sraturi

[2020-08-06 20:33] soulgalore commented on #1329
@acreskeyMoz I'll help you out tomorrow night, I've been away for a couple of days.

[2020-08-06 21:12] acreskeyMoz commented on #1328
I didn't realize that Browsertime uses Webdriver to launch the browsers on android.
I had thought that it sent `adb` commands and then attached.
(Of course this makes sense in retrospect).

So @sraturi is looking at ChromeOptions to add when launching Chrome.
But it may not fulfill our initial desire -- to launch Chrome as the Android OS does via intent.

[2020-08-07 00:50] sraturi commented on #1328
I am not sure if it makes any sense in continuing this ticket (at least scope wise, which is to add intent for chrome).

From what I gathered, when I try to even add `androidActivity` to the `web driver's experimentalOptions`, I get
`unknown error: known package com.android.chrome does not accept activity/process `

I also didn't find any for adding ADB commands to the web drivers. (though I'm sti

[2020-08-07 19:55] soulgalore commented on #1329
Ok I had a look. Yep I think we can have better place for it. `browserScripts` is the place for data that we get from running JavaScript directly in the browser, so I think move it would be good (I've missed it when it was merged).

Maybe something like:
`this.result[this.numberOfMeasuredPages].process.startTime` if we ever want other process information?

[2020-08-08 17:37] soulgalore opened #1331 "Firefox 79.0.2 on Android fails to start"
Started to test the newly released Firefox on Android, but it fails to start:

[code]

However on the phone, the browser opens up, but the URL isn't loaded:

<img width="531" alt="Screenshot 2020-08-08 at 19 35 42" src="https://user-images.githubusercontent.com/540757/89716571-5e6d9c00-d9ae-11ea-8296-4d7820612482.png">

Maybe its some configuration that needs to be changed?

[2020-08-08 22:54] gmierz commented on #1331
Hi Peter, I think this has to do with the intents and/or activity that is being used by default in browsertime. For FF79 (Fenix), we use the following command to start the app:
`[task 2020-08-07T20:59:55.894Z] 20:59:26     INFO -  adb shell_output: adb -s FA79H1A00466 wait-for-device shell su -c "am start -W -n org.mozilla.fenix/org.mozilla.fenix.IntentReceiverActivity -a android.intent.action.VIE

[2020-08-08 22:58] soulgalore commented on #1331
Thank you @gmierz let me change it then for the coming release so it works by default!

[2020-08-09 10:50] soulgalore commented on #1331
It seems like  `--firefox.android.package org.mozilla.fenix` does't work on the stable release:

`[2020-08-09 12:47:12] INFO: Browser failed to start, trying 2 more time(s): Package 'org.mozilla.fenix' not found`

I'll check more tonight.

[2020-08-09 12:37] gmierz commented on #1331
Oh yes, the package name you have by default should be correct (org.mozilla.firefox iirc). The package name used in the example is from the nightly build.

It's either the activity that needs to be changed or adding these extra intents - I think the -d about:blank will resolve the issues: `-a android.intent.action.VIEW -d about:blank`

[2020-08-09 12:41] gmierz commented on #1331
This activity will need to change to `org.mozilla.firefox.IntentReceiverActivity`: https://github.com/sitespeedio/browsertime/blob/main/lib/firefox/webdriver/index.js#L220

[2020-08-09 19:53] soulgalore commented on #1331
I tried but didn't get it to work. I'm using
`
--android -b firefox https://www.sitespeed.io -n 1 --firefox.android.activity org.mozilla.firefox.IntentReceiverActivity --firefox.android.intentArgument=-a --firefox.android.intentArgument android.intent.action.VIEW --firefox.android.intentArgument=-d --firefox.android.intentArgument about:blank`

[2020-08-10 21:57] acreskeyMoz commented on #1328
It turns out that Chromedriver does not support android intent arguments.
It is hardcoded to load `data:`

@soulgalore at the moment we won't be working on this. I'm not sure how you want to handle this one.

[2020-08-10 21:58] acreskeyMoz commented on #1329
Thank you for looking at this @soulgalore.

Because of https://github.com/sitespeedio/browsertime/issues/1328 we're not pursuing this one.
Sorry for that. Not sure if it's worth keeping open.

[2020-08-11 13:02] gmierz commented on #1331
I'll check it out locally today and post here with what I find.

[2020-08-11 13:32] gmierz commented on #1331
Can you try it with the activity `org.mozilla.fenix.IntentReceiverActivity`?

Here's the command I'm testing with:
`13:21:46     INFO -  raptor-browsertime Info: browsertime cmd: /home/sparky/.mozbuild/node/bin/node /home/sparky/mozilla-source/mozilla-central/tools/browsertime/node_modules/browsertime/bin/browsertime.js --firefox.geckodriverPath /home/sparky/geckodriver /home/sparky/mozilla-source

[2020-08-11 20:01] soulgalore commented on #1331
Thank, yep that works. I tried with ` bin/browsertime.js --firefox.android.package org.mozilla.firefox --firefox.android.activity org.mozilla.fenix.IntentReceiverActivity --firefox.android.intentArgument=-a --firefox.android.intentArgument android.intent.action.VIEW --firefox.android.intentArgument=--es --firefox.android.intentArgument=startNext --firefox.android.intentArgument=org.mozilla.fenix.I

[2020-08-12 09:49] fxbtr opened #1333 "CPU time by ressource to graphite"
Hi,

Is there a way we can push to graphite the data visible here :
![image](https://user-images.githubusercontent.com/41640867/90001441-ba2b7400-dc91-11ea-950e-0935c1aaba2e.png)

I.e. cpu time spent by .js

I know we can do something similar with pagexray with the following filters :
[code]

Thank you
Best regards

[2020-08-12 10:44] fxbtr opened #1334 "Chrome Emulated Mobile : issues with screenshots, filmstrip visibled in the html report"
Hi,

When running the following command :

[code]
It's pretty vanilla, I am not setting a specific aspect ratio or anything.
I get the following output in my html folder : scrollbars in screenshots, and a weird viewport, the website appears to be cropped.

![image](https://user-images.githubusercontent.com/41640867/90004811-93237100-dc96-11ea-82e4-e755cd203ea9.png)
![image](https://user-images.git

[2020-08-12 13:56] gmierz commented on #1331
Oh sorry! I forgot to put a link to the bug for this error: https://bugzilla.mozilla.org/show_bug.cgi?id=1650872

It seems to be an issue with Marionette.

[2020-08-18 08:47] soulgalore opened #1337 "Do not add use metrics if the main page gives an HTTP error"
We should make it configurable to include metrics from pages that gives errors. By default if the main page gives a > 399 error we should exclude those metrics from the statistics, see See https://github.com/sitespeedio/sitespeed.io/issues/3127

[2020-08-25 14:36] gmierz commented on #1331
@soulgalore so the bug was fixed, but it doesn't look like we can get an uplift so we'll have to wait before you can use the release version.

In the mean time, you could try using the beta or nightly builds since nightly is unaffected by this bug, and beta should contain the fix.

[2020-08-25 16:43] soulgalore commented on #1331
Thank you @gmierz ! I'll try with beta and prepare the setup.

[2020-08-25 20:45] gmierz commented on #1331
Sounds good, ping me if you hit any issues there. I've requested an uplift of the patch but if that doesn't go through, it will be in the Sept. ~22 release.

[2020-08-26 10:52] soulgalore commented on #1331
It works for me with nightly but could you help me find the docs (or explain) all of those intentArgument so I know which one I should add as default? That would be super useful :)

[2020-08-26 16:06] gmierz commented on #1331
@soulgalore you should only need these options: `--firefox.android.activity org.mozilla.firefox.IntentReceiverActivity --firefox.android.intentArgument=-a --firefox.android.intentArgument android.intent.action.VIEW --firefox.android.intentArgument=-d --firefox.android.intentArgument about:blank`

The -d option specifies the data to display in the browser (in this case it's the about:blank page) an

[2020-08-27 18:38] gmierz opened #1344 "Error when running commands.android.shell function: `TypeError: AndroidInstance is not a function`"
The `commands.android.shell` command that is mentioned here doesn't seem to work for me: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#add-your-own-metrics

I get the following error:
[code]

[2020-08-28 06:17] soulgalore opened #1346 "Browsertime 10"
Prepare for Browsertime 10. Chrome 86 is released Oct 6 and Firefox 81 the 22 Sep so we enable gap where we can push some changes and then release the new release with the new browser versions.

Lets release the current main, and then make main "hot" with the coming changes. I want to push https://github.com/sitespeedio/browsertime/issues/1322  and cleanup as much code as possible in 10. There's n

[2020-08-28 12:05] gmierz commented on #1344
Thanks for the review and merge @soulgalore!

[2020-08-28 12:05] #1344 closed

[2020-08-31 07:13] umeshPathak opened #1349 "HAR with contents"
How to create the HAR with Contents ?

[2020-08-31 08:54] #1349 closed

[2020-08-31 08:59] umeshPathak opened #1350 "How to limit the number of runs to 1"
How can we limit the number of runs to 1 only ? I am creating the HAR with contents to analyze the perf data. But I found three entries of the resources in the page.

[2020-08-31 09:07] #1350 closed

[2020-08-31 09:11] soulgalore opened #1351 "Investigate time spent for Visual Metrics"
Is there a way to make Visual Metrics faster? Lets investigate where the time is spent and see if there's a way to make it faster.

Lets use https://www.imdb.com/title/tt0084967/?ref=nv_sr_2 as test and test it on a slow connection and run it with --verbose logging so we can see where the time is spent.

[2020-08-31 11:20] soulgalore opened #1352 "Stop video recording before getting the HAR file on Firefox"
One problem using Firefox is that the HAR export trigger takes time:

[code]
The the trigger takes 3 minutes to complete and we keep the video running so the video is a couple of minutes too long.

Lets fix that and make sure we stop the video direct after the page complete check finish.

[2020-08-31 11:41] umeshPathak opened #1353 "URL requesting your username and password."
I tried supplying username and password using below command **browsertime <url>  --basicAuth username@password --firefox.includeResponseBodies all --iterations 1 --headless --browser firefox** , but still it gives error **Dismissed user prompt dialog: <url> is requesting your username and password**. When I dont use --headless , it asks username and password multiple times on the basic auth dialog

[2020-08-31 17:55] soulgalore commented on #1351
Did some test on that URL.

On my machine running without default setup Visual Metrics takes 15 seconds. Removing getting ContentfulSpeedIndex reduces the time to 7 seconds. Also removing PerceptualSpeedIndex gets it down to 4 seconds. For the next major I think we should turn off those two per default and then add switches to turn them on.

[2020-09-01 07:48] soulgalore commented on #1353
Hi @umeshPathak I tested with  https://httpbin.org/basic-auth and that seems to work for me, can you test that to verify that basic auth works?

[2020-09-01 10:43] soulgalore commented on #1352
Fixed, coming in 10.0.0

[2020-09-01 10:43] #1352 closed

[2020-09-02 07:04] soulgalore commented on #350
Closing since it probably works now :)

[2020-09-02 07:04] #350 closed

[2020-09-02 07:05] soulgalore commented on #609
This is more of a Selenium issue, so closing,

[2020-09-02 07:05] #609 closed

[2020-09-02 07:08] soulgalore commented on #640
This has been fixed.

[2020-09-02 07:08] #640 closed

[2020-09-02 07:09] soulgalore commented on #676
I haven't seen this for a while so I think this was fixed by removing zero values.

[2020-09-02 07:09] #676 closed

[2020-09-02 07:14] soulgalore commented on #952
Analysing the trace in Chrome hasn't always worked, hopefully now when Google focus on a couple of metrics this is fixed. But I'm avoiding using SpeedLine (there's an upstream issue for the case).

[2020-09-02 07:14] #952 closed

[2020-09-02 07:16] soulgalore commented on #975
Never got feedback on how to reproduce, please let me know if it is still an issue.

[2020-09-02 07:16] #975 closed

[2020-09-02 07:18] soulgalore commented on #986
When I did test this, I could see big diff, so I think implementing it was not actually needed.

[2020-09-02 07:18] #986 closed

[2020-09-02 07:21] soulgalore commented on #1211
This is implemented BUT we miss having all domains downloaded in a profile, so to test you need tio give Firefox 30+s to download the files before you start to test.

[2020-09-02 11:20] soulgalore opened #1363 "Visual Metrics and Python 3 don't create a log file?"
Been cleaning up my machine and installed Python3 and I think that breaks Visual Metrics. I get an error:

`[2020-09-02 13:02:43] ERROR: VisualMetrics failed to run Error: ENOENT: no such file or directory, unlink '...www.wikipedia.org/2020-09-02T130159+0200/pages/www.wikipedia.org/data/video/1.visualmetrics.log''
`
when the code tries to remove the log. I've debugged the code and I can see that t

[2020-09-02 11:28] soulgalore commented on #1363
No this doesn't look like Python3 issue ... but something isn't correct on my machine.

[2020-09-02 11:28] #1363 closed

[2020-09-03 06:48] soulgalore commented on #1331
@gmierz I'm still struggling on getting this to work. Was the fix released in latest 80 (I'm running 80.1.2) or did it just miss it?

[2020-09-03 09:44] umeshPathak commented on #1353
Yes. it worked for other application's URL. it worked, Might be issue with that url.

[2020-09-03 09:49] umeshPathak opened #1366 "HAR file path"
How can we specify custom HAR file name and its location ? I tried below

**browsertime https://www.infosys.com  --outputFolder d:\outputs\btime  --iterations 1 --headless --browser firefox  --firefox.includeResponseBodies all --har infy**

I am expecting d:\outputs\btime\infy.har file path. I want to bypass the timestamp folder name and want an explicit har file path

[2020-09-05 19:44] soulgalore opened #1372 "Firefox 80 introduced really late fully loaded on Digital Ocean"
This is what it looks like on our test server on Digital Ocean:

<img width="1163" alt="Screenshot 2020-09-05 at 21 34 36" src="https://user-images.githubusercontent.com/540757/92312295-b1dc0580-efbf-11ea-9d51-42c9f8c17047.png">
<img width="475" alt="Screenshot 2020-09-05 at 21 33 22" src="https://user-images.githubusercontent.com/540757/92312297-b56f8c80-efbf-11ea-865d-623f25f76416.png">
<img wid

[2020-09-07 11:42] umeshPathak commented on #1366
I did it using  --resultDir d:\outputs\btime --har infy

[2020-09-07 11:42] #1366 closed

[2020-09-07 12:00] umeshPathak opened #1373 "Installation issue"
I have installed browsertime Linux . But getting below error when running it on the Linux

[2020-09-07 16:59:19] INFO: Browser failed to start, trying 0 more time(s): The specified executable path does not exist: /usr/local/lib/node_modules/browsertime/node_modules/@sitespeed.io/geckodriver/vendor/geckodriver

the  **/usr/local/lib/node_modules/browsertime/node_modules/@sitespeed.io/geckodriver/ve

[2020-09-07 16:54] soulgalore commented on #1373
Hi @umeshPathak did you get an error when you did install it? You set the path to your own Geckodriver using `--firefox.geckodriverPath `. All options should be there if you run `--help`.

[2020-09-08 20:36] gmierz commented on #1331
@soulgalore it just missed it unfortunately. It should be available in a release on around Sept. 22 - the beta release works for me now though (using the org.mozilla.firefox_beta package name).

[2020-09-09 18:04] soulgalore commented on #1331
Ok cool, thanks @gmierz !

[2020-09-09 18:07] soulgalore commented on #1372
I've upgraded the instance but still see the same problems (pages is actually timing out). I'll have a look to see if I can reproduce it locally.

@gmierz have you heard anything for the 80 release on Desktop Linux? It's so strange, I can see it happend exactly with that release and we only pushed that version in that release (and Chrome and Chromedriver).

[2020-09-09 19:01] soulgalore commented on #1372
Something must be broken on that instance, let me deploy a new one.

[2020-09-09 19:28] soulgalore commented on #1372
I've deployed a new machine, lets see what happens with the metrics. One thing: the tests on Digital Ocean uses GeckoProfiler, but we don't have that turned on for our tests on Wikipedia so maybe that could be a thing?

[2020-09-09 19:38] soulgalore commented on #1372
Hmm the problem is still there on the new instance.

[2020-09-09 19:48] soulgalore commented on #1372
Ok, I think the Geckoprofiler is part of the problem. When I run it on my local machine I can reproduce:

[code]

Checkout loadTime (onLoad) 52 s.

Reverting back to 79 gets back unload/last visual to normal 6-7 seconds.

[2020-09-10 05:50] soulgalore commented on #1372
When I tried yesterday it seems to be the combination of geckorprofiler and window recorder but I need to look into it more. On the Digital Ocean instance the runs timeouts (5 minutes). I've disabled gecko profiler there now, lets see what happens.

[2020-09-10 07:51] soulgalore commented on #1372
https://bugzilla.mozilla.org/show_bug.cgi?id=1664038

[2020-09-11 10:34] soulgalore commented on #1331
So I need all of these to get it to work on beta:
`--firefox.android.package org.mozilla.firefox_beta --firefox.android.activity org.mozilla.fenix.IntentReceiverActivity --firefox.android.intentArgument=-a --firefox.android.intentArgument android.intent.action.VIEW --firefox.android.intentArgument=--es --firefox.android.intentArgument=startNext --firefox.android.intentArgument=org.mozilla.fenix.In

[2020-09-11 18:48] gmierz commented on #1331
@soulgalore yes the order is important for these but you should be able to remove these ones:
`--firefox.android.intentArgument=--es --firefox.android.intentArgument=startNext --firefox.android.intentArgument=org.mozilla.fenix.IntentReceiverActivity --firefox.android.intentArgument=--esa --firefox.android.intentArgument=automation `

[2020-09-14 07:21] soulgalore commented on #1331
Yes thanks. I got it working now with` bin/browsertime.js --firefox.android.package org.mozilla.firefox_beta --firefox.android.activity org.mozilla.fenix.IntentReceiverActivity --firefox.android.intentArgument=-a --firefox.android.intentArgument android.intent.action.VIEW  --firefox.android.intentArgument=-d --firefox.android.intentArgument about:blank --android -b firefox https://www.sitespeed.io

[2020-09-17 00:47] MasonM opened #1380 "CPU throttling using --chrome.CPUThrottlingRate has no effect"
# Overview
The `--chrome.CPUThrottlingRate` feature added in https://github.com/sitespeedio/browsertime/pull/819 looks to be very handy for getting realistic numbers on interactivity metrics, but I can't get it to work. No matter what I pass for the throttle rate, the numbers I get back for "total blocking time" and other metrics are unchanged.

System details:
* Tested on both Mac OS 10.15.6 and

[2020-09-17 06:58] soulgalore commented on #1380
Hi @MasonM I wonder if something has changed on the Chrome or on our side, let me have a look.

[2020-09-17 17:42] MasonM commented on #1380
For comparison purposes, I wrote a quick Puppeteer script that uses the same `Emulation.setCPUThrottlingRate()` API method to throttle the CPU, as well as the same code as browsertime to collect long tasks:
[code]

Run it like `THROTTLE=4 node longtask.js` (the `THROTTLE` variable controls the CPU throttle rate). I see massive changes when I increase `THROTTLE`, and the whole thing times out when

[2020-09-17 19:19] soulgalore commented on #1380
Yeah strange, I could reproduce on my machine too. I verified that the correct command is sent though and I know it used to work. Can you see what Chrome version Puppeteer uses? Let me try with another Chrome version and see if that could fix it.

[2020-09-17 19:29] soulgalore commented on #1380
Had a quick test with 87.0.4266.0 and I get the same thing there so I wonder if something is wrong on our side then, I'll continue to look tomorrow.

[2020-09-18 01:17] MasonM commented on #1380
Puppeteer 5.3.0 uses Chromium 86.0.4240.0. I tried downgrading to Puppeteer 5.0, which uses Chromium 83.0.4103.0, but it still works (i.e. increasing the `THROTTLE` variable will slow down execution time).

In case it's help, i moved the Puppeteer example to a repository: https://github.com/MasonM/puppeteer_cpu_throttle

[2020-09-18 07:14] soulgalore commented on #1380
Hi @MasonM so there was an promise that was awaited, but when I changed so it was returned it worked. I'm pushing a beta release if the coming release today and then hopefully I can release the next major of sitespeed.io on Sunday evening or early next week. If you also could verify that my fix work for you that would be great!

[2020-09-19 02:59] MasonM commented on #1380
Thanks for looking into this so quickly! Unfortunately, I'm still seeing this issue when running Browsertime on commit d7bd8f466cf39a126428ac7af8d210f89b4d9292

System details:
* Ubuntu Linux 18.04.5
* Node v10.22.0
* Google Chrome 85.0.4183.102

<details>
<summary>./bin/browsertime.js --cpu --video=false --visualMetrics=false -n 5 --chrome.CPUThrottlingRate 32 https://nytimes.com</summary>

[code

[2020-09-21 08:32] gfoxCartrawler commented on #947
Hi Peter,

Just enquiring whether this issue would be fixed with the new Browsertime?

Regards,
Gary

[2020-09-21 08:46] fxbtr commented on #1380
Hi, posting here because I think this is related:

When using the lastest ssio image version 15.0.0 we don't collect long tasks anymore. Also I don't think the CPU throttling itself is working given that the FCP/LCP appears unchanged compared to no cpu throttling

`docker run --rm -v $(pwd):/sitespeed.io sitespeedio/sitespeed.io:15.0.0 --outputFolder ss7J20R189K -n 30 https://www.cdiscount.com --g

[2020-09-21 14:24] soulgalore commented on #1380
Argh, I only tested it locally in --headless mode. Checkout:

[code]

vs

[code]

There it seems to affect the metrics. However no TBT was picked up so wonder if something also has been broken with the release, let me look into it tonight.

[2020-09-21 17:31] soulgalore commented on #1380
@MasonM I see that you also run puppeteer headless, could please try to run without it and see if it works then.

The code for 15.0 to pickup long tasks is new, using the buffered version. For me I can see that it works when I try:
`bin/browsertime.js https://www.cnet.com -n 1 ` but maybe its something there that doesn't work correctly, I can roll back to the old version and try.

[2020-09-21 17:45] soulgalore commented on #1380
I pushed a PR that reverts back to the old way of getting long tasks (not using buffered). And then I can see that long tasks are picked up when CPUThrottle works (in headless). So now the "only" problem is that CPUThrottle only kicks in using headless.

[2020-09-21 18:56] soulgalore opened #1384 "Check that the Android phone is online before we run tests"
We can do that with `adb get-state`. This will help us to not run tests if the phone is offline.

[2020-09-22 01:28] MasonM commented on #1380
@soulgalore You're right, it works fine in headless mode, e.g. `docker run --rm sitespeedio/sitespeed.io:14.4.0-plus1 --cpu -n1 --headless --video=false --visualMetrics=false --chrome.CPUThrottlingRate=32 https://nytimes.com`

However, the Puppeteer example I gave also works if I disable headless mode. I'm not sure why it works with Puppeteer both with and without headless, but browsertime only wo

[2020-09-22 06:42] soulgalore commented on #1380
Ok, I wonder if it could be a Chrome flag that makes it fail, strange, I "know" it used to work, let me look into it more today.

[2020-09-22 06:44] soulgalore opened #1385 "Verify that the network work before we start to test on Android."

[2020-09-22 11:34] soulgalore commented on #1380
Had a go again but I couldn't find the reason why it don't work. I also tried with the Puppeteer and it works there. I tried to look at different switches but can't see any difference that could explain why it works in headless.

[2020-09-22 17:15] soulgalore commented on #1380
Did a test with plain Selenium and it seems its the same problem there:

[code]
But I can't see that things slows down. I've been comparing Chrome flags between puppeteer and webdriver but haven't found anything yet. Let me know @MasonM if you have any idea to move forward :)

[2020-09-23 11:08] soulgalore commented on #1372
Fixed in 81

[2020-09-23 11:08] #1372 closed

[2020-09-23 11:08] soulgalore commented on #1331
This works now with latest Firefox stable and latest released Browsertime.

[2020-09-23 11:08] #1331 closed

[2020-09-23 11:12] soulgalore commented on #1236
This seems to work fine in latest Firefox.

[2020-09-23 11:12] #1236 closed

[2020-09-23 11:15] soulgalore commented on #1098
Thus works now in latest FF.

[2020-09-23 11:15] #1098 closed

[2020-09-23 11:51] soulgalore commented on #1385
Released yesterday.

[2020-09-23 11:52] soulgalore commented on #1384
Released yesterday.

[2020-09-23 11:52] #1384 closed

[2020-09-23 11:52] #1385 closed

[2020-09-23 11:52] soulgalore commented on #1351
I pushed a lot changed in Browsertime 10.0. Next step is to actually change the Visual Metrics script but we can keep that for later.

[2020-09-23 11:52] #1351 closed

[2020-09-23 11:53] soulgalore commented on #1346
Released!

[2020-09-23 11:53] #1346 closed

[2020-09-23 11:53] soulgalore commented on #1322
Fixed in 10.0

[2020-09-23 11:53] #1322 closed

[2020-09-23 12:03] soulgalore commented on #1142
There's a couple of things I would like to fix before we close this issue:
* I've moved testing to GitHub Actions but I don't get the Visual Metrics tests to to work. If you @tarekziade could help me with that it would be great: https://github.com/sitespeedio/browsertime/issues/1303
* I think the [browsertime folder](https://github.com/sitespeedio/browsertime/tree/main/browsertime) name for Visual

[2020-09-25 21:40] soulgalore opened #1389 "Enabling both windowRecorder and geckoProfiler on Android trigger no navigation"
I think I tried this locally and it worked but now on another test machine I always get " the browser are still on ..."

[code]

[2020-09-26 18:20] soulgalore commented on #1389
This is a bug in that environment and works fine when I test it on my local setup.

[2020-09-26 18:20] #1389 closed

[2020-09-27 03:37] MasonM commented on #1380
I suspect this is a bug with Chromedriver, so I filed bug with their issue tracker: https://bugs.chromium.org/p/chromedriver/issues/detail?id=3613

[2020-09-27 15:55] soulgalore commented on #1380
Thank you @MasonM for taking the time to fill the upstream bug!

[2020-09-28 17:18] dpalmeiro opened #1391 "Profiles from the gecko profiler are incomplete and do not show the entire page load"
Any profile using --firefox.geckoProfiler shows incomplete data, for example:  https://share.firefox.dev/2S3crfW

This appears to be a regression from https://bugzilla.mozilla.org/show_bug.cgi?id=1634816 where the API has changed to use bytes instead of entries.

[2020-09-28 17:48] #1391 closed

[2020-09-29 15:19] acreskeyMoz opened #1395 "Add an option for webdriver navigation (instead of window.location writes)"
Currently Browsertime navigates to the target url by writing to `window.location` :
https://github.com/sitespeedio/browsertime/blob/de710c143f9f49a4fa13c808906ac712406ca586/lib/core/seleniumRunner.js#L223

We have found that, at least in Firefox, this is a codepath that is not representative of a user workflow.
(The `window.location` navigation begins in the content process instead of the parent p

[2020-09-29 15:21] acreskeyMoz commented on #1395
@soulgalore I have a patch incoming for this.
In Firefox for android (aka Fenix), we've found that this reduces the artificially slow early network timing (e.g. `connectStart`) by ~60ms.

[2020-09-29 17:05] #1395 closed

[2020-09-29 17:08] soulgalore commented on #1395
One question @acreskeyMoz : did you see any difference for Visual Metrics in your test, thinking about when we remove the orange background color running with webdriver navigation?

[2020-09-29 17:55] acreskeyMoz commented on #1395
@soulgalore We did see improvements in visual metrics, but resulting from the improvement in network times.

But I'm looking at the patch that just landed and it didn't merge correctly when I rebased it:

In the `clearOrange` function I shouldn't be navigating at all:
https://github.com/sitespeedio/browsertime/blob/d167f4566fe91d335fa93e43318799d4f87dac10/lib/core/seleniumRunner.js#L221-L224

With

[2020-09-29 18:19] acreskeyMoz commented on #1395
Let me know if I should make an issue for https://github.com/sitespeedio/browsertime/pull/1397

Also, we of course haven't flipped this switch on yet in our CI testing.
I still need to validate it on other platforms.
But this is the direction we want to move it.

[2020-09-29 23:36] soulgalore commented on #1395
What I meant was do it correlate with first paint etc? I remember when implementing this a long time ago, this reduced the time between removing the orange and actually navigating = first paint reported by Chrome and first visual change matched, that's why I just reverted back to have follow the exact same pattern in the old flow. Or are you saying you see something else?  :) Then I need time veri

[2020-09-30 13:02] acreskeyMoz commented on #1395
Ah, I _think_ I understand what you're asking :)

We're seeing changes in the earliest network timing, even at `domainLookupStart.`
And this does bubble up to `firstPaint`.

But I think this change has impact outside of just shifting when the orange is removed:

We did some profiling and analysis and this is giving us the correct parent-process initiated navigation codepath.
So we're pretty sure t

[2020-09-30 13:13] shaqb opened #1400 "TSProxy makes pages time out ( was "Page timing out after 300000 ms with Browsertime but no issues on Lighthouse or WebPageTest")."
Hi there,

I am running the following test:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:15.2.0 https://www.hollandandbarrett.com/shop/product/dr-organic-skin-clear-deep-pore-face-wash-60014163 --browsertime.connectivity.engine tsproxy --browsertime.connectivity.profile 3gfast --browsertime.chrome.args kiosk --browsertime.requestheader "user-agent: Mozilla/5.0 (iPhone; CPU

[2020-09-30 16:42] soulgalore commented on #1395
Ok! But you agree that it's ok to do https://github.com/sitespeedio/browsertime/pull/1398 to make sure everything works exactly as before with the old code path?

[2020-09-30 17:13] acreskeyMoz commented on #1395
Ah, yes, @soulgalore -- that makes sense.
The timing is very sensitive, so I agree that's better to remove the orange in the same script execution.

[2020-10-01 08:36] shaqb commented on #1400
Thanks @soulgalore!

[2020-10-01 16:00] livrennie commented on #1222
I'm having the same issue.

I can't run a test using --mobile, as the site I'm testing can't load as the web browser (iOS 11) is out of date.
I have attached the output here: [2020-10-01-14-07-14.zip](https://github.com/sitespeedio/browsertime/files/5313334/2020-10-01-14-07-14.zip)

When I set the viewport size manually the video is cropped.

[2020-10-01 17:01] soulgalore commented on #1222
I haven' get around to have a look at this yet (I've focused on real mobile phones last months). Let me have a look again early next week.

[2020-10-01 19:37] soulgalore commented on #1222
@livrennie if you set to one of the existing emulation ones, do that work? `--mobile  --browsertime.chrome.mobileEmulation.deviceName "iPhone X"`? When did a quick try it seemed to work.

[2020-10-02 08:25] livrennie commented on #1222
I have tried that, getting the same issue: [2020-10-02-08-21-57.zip](https://github.com/sitespeedio/browsertime/files/5316758/2020-10-02-08-21-57.zip)

[2020-10-02 18:26] soulgalore commented on #1222
@livrennie I think setting `--mobile` is just a short version of setting mobile to iPhone 6, so if you run like `docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:15.2.0  --browsertime.chrome.mobileEmulation.deviceName "iPhone X" https://laperla.com/nightwear/ -n 1` (skipping --mobile and setting mobile emulation direct in Chrome) it should work (it looks ok for me at least).

[2020-10-06 07:29] soulgalore opened #1402 "Investigate "failed to load, the browser are still on " using Firefox on Android"
This is from our test device at Wikimedia:

[code]

Let me check if I can reproduce on my local device, last time I couldn't but let me try some more.

[2020-10-13 20:47] soulgalore opened #1406 "Add video support for Safari on iOS"

[2020-10-14 20:11] soulgalore opened #1407 "Reboot the phone if the temperature limit isn't met after X tries"
I've seen problems where the temperature don't come down by just waiting, but when I restart the phone it gets better. Lets implement a restart if the phone never comes down in temperature.

[2020-10-15 05:49] dpburst opened #1410 "Can I get the DOM tree of a website via this tool?"
Hi! I am new to Javascript. I want to get the size of the request and response of each resource (I know how to achieve this already) as well as the dependency relationship between resources in a web. I just wonder whether I can achieve the latter via browsertime? Thank you so much!

[2020-10-19 15:37] jajo-shubham commented on #1406
Hey @soulgalore . I recently tried to run visualMetrics on an **iPhone XS (13.4.1)** connected to a **mac mini(Catalina 10.15.5)**.
Versions OS: darwin 19.5.0 nodejs: v10.16.3 sitespeed.io: 15.5.0 browsertime: 10.5.0 coach: 5.1.1

Command ran: `bin/sitespeed.js --safari.ios --safari.deviceUDID XXXXXXXX https://google.com https://google.com  --plugins.add analysisstorer  --visualMetrics  -vvv`

It

[2020-10-19 18:09] soulgalore commented on #1406
This issue is about adding support for video on iOS. At the moment it doesn't work since we have not implemented it.

[2020-10-20 03:10] soulgalore opened #1412 "Remove app constants from result JSON"
The result from Firefox gets polluted by appConstants again, lets fix it and try to have the result as clean as possible.

`{"browser":{"appConstants":{"ACCESSIBILITY":true,"ANDROID_PACKAGE_NAME":"org.mozilla.firefox","ASAN":false,"ASAN_REPORTER":false,"BROWSER_CHROME_URL":"chrome://browser/content/browser.xhtml","DEBUG":false,"DEBUG_JS_MODULES":" ...`

[2020-10-21 06:45] soulgalore opened #1413 "Firefox an Android freeze"
I've been having problems with Firefox on Android where tests start to freeze and never recover. It runs on latest stable Firefox.

Been running the tests though the night and suddenly the tests stopped. Look at the time difference between the last log line and the rotation of the log:
[code]

Looking for Marionette nothing happens:
[code]

I could see that we have three geckodriver processes:
[co

[2020-10-21 06:52] soulgalore commented on #1413
It is a finally block that should catch it but its many steps (and missing logs) so let me make a test case and add more logging to see if I can fix it.

[2020-10-21 07:25] soulgalore commented on #1413
I tested the code and it looks ok (=it closes the browser).

[2020-10-21 11:06] soulgalore commented on #1413
If this works, we can maybe do a follow at least for Android where we try to force stop the application using adb shell.

[2020-10-22 05:01] phongiswindy opened #1416 "tpdump fails to write file since version 8.6"
`tcpdump` doesn't seem to work from version 8.6.0. The captured pcap is only 24Bytes when running this command. tcpdump will successfully export the pcap when changing back to version 8.5.0 and earlier version.

`docker run --rm --shm-size 2g -v /tmp/output:/browsertime sitespeedio/browsertime:8.6.0 --timeouts.browserStart 120000 --timeouts.script 170000 --firefox.includeResponseBodies all --scree

[2020-10-22 06:41] soulgalore commented on #1416
Hi @phongiswindy thanks for the report. That was when we upgraded to Ubuntu 20, let me have a look.

[2020-10-22 06:54] soulgalore commented on #1416
For me it seems to work?
`docker run --rm --shm-size 2g -v "$(pwd)":/browsertime sitespeedio/browsertime:8.6.0 --timeouts.browserStart 120000 --timeouts.script 170000 --firefox.includeResponseBodies all --screenshotParams.jpg.quality 100 --screenshotParams.maxSize 2000 --viewPort=1366x768 --video false --visualMetrics false --browser firefox --iterations 1 --resultDir /browsertime/en.m.wikipedia.o

[2020-10-22 07:59] phongiswindy commented on #1416
Oh, I think I found the reason now. I was about the linux permission on NFS. So my `-v` mounting point is actually an NFS. Somehow the version 8.5.0 and earlier version could manage to obtain proper permission to write the pcap file, while versions from 8.6.0 doesn't seem to obtain the proper permission to `chown`, thus failing to write.

**This one are files generated with 8.5.0**
![image](https:

[2020-10-23 06:33] soulgalore opened #1418 "Budget should fail if there's missing data"
I've been running budgets on Android phone and if the phone is not connected it looks like this:

[code]

I wonder if we can make the tests fail if we miss data? That should make sense so its easier to alert on failures.

[2020-10-23 16:04] gmierz opened #1419 "Videos that are recorded after the first page iteration don't exist in the results in v10"
After upgrading from v9 to v10, we're seeing issues with the videos from the second iteration of a pageload test: https://searchfox.org/mozilla-central/source/testing/raptor/browsertime/browsertime_pageload.js#16

We run 2 iterations with that script, and the videos from the second iteration are not available in the results even though we do see video path entries in the browsertime.json: https://

[2020-10-25 20:19] soulgalore commented on #1419
Hi @gmierz sorry for the late answer, this seems like a bug, nothing "should" have changed how that is handled.

I don't fully understand the script. What's page_cycles? Do you run more than one? Then the name of the video collide when I test. Is that what happens or do you run one page_cycle and two iterations? Is there a easy way for me to reproduce it? I I tried with some simple tests but could

[2020-10-26 13:33] gmierz commented on #1419
That's right, in our tests we start the browser, navigate to the test page and measure, then without closing the browser, we navigate to the page again (2 page cycles). So the behavior that was there before was that the first page cycle measurement would give us data in a `query-XXXXXX` folder, then the second page cycle iteration would have its data in another `query-XXXXXX` folder. In v10 though

[2020-10-27 20:18] acreskeyMoz opened #1422 "Firefox preferences disable the speculative connection pool"
The Firefox preferences disable the network's speculative connection pool:
https://github.com/sitespeedio/browsertime/blob/325d5389b4deb6b68bff0e5b8fa42c9d457bfdc5/lib/firefox/settings/firefoxPreferences.js#L139

Speculative connections are a critical component of page load performance and thus this preference should be removed.

The history behind disabling this pref is that it was initially migr

[2020-10-27 20:18] acreskeyMoz commented on #1422
Patch incoming

[2020-10-28 08:24] #1422 closed

[2020-10-28 08:33] soulgalore opened #1425 "Add Android info to Firefox HAR (as we do for Chrome)"

[2020-10-28 13:50] edevlin-made commented on #1222
fyi I'm using sitespeed.io docker image 15.6.0-plus1 and having the same problem.  Sitespeed's verbose logging shows my config includes these elements:

[code]

I'm not using `--mobile` because I want it to feel like an iPhone 8, and I don't set mobileEmulation.deviceName because I need to use a custom user agent string in order to get past bot-protection.   But I get the same problem if I just se

[2020-10-28 14:49] soulgalore commented on #1425
Ah I remember, we don't have a HAR from Firefox on Android since we cannot automate to get the HAR file there.

[2020-10-28 14:49] #1425 closed

[2020-11-03 13:57] tarekziade opened #1427 "--firefox.profileTemplate should take precedence on firefoxPreferences.js"
When setting up preferences via the profile template, browsertime overrides them with values from `firefoxPreferences.js` when  calling geckodriver. The only solution is to use `--firefox.preference` but that defeats the purpose of `--firefox.profileTemplate`

We should make sure preferences set in the templates are not overriden by `firefoxPreferences.js` defaults

[2020-11-03 21:04] soulgalore commented on #1427
Hi @tarekziade I've never used the profileTemplate, do you have an example of a template file? Is it correct that if you set a profile template, [defaultFirefoxPreferences](https://github.com/sitespeedio/browsertime/blob/main/lib/firefox/settings/firefoxPreferences.js) should't be set at all?

[2020-11-05 16:18] tarekziade commented on #1427
a template *directory*  is basically a firefox profile that is passed to the browser via geckodriver.
In my case it contains `user.js` and `prefs.js`

I think the right behavior would be to selectively removing prefs from https://github.com/sitespeedio/browsertime/blob/main/lib/firefox/settings/firefoxPreferences.js that are set through the profileTemplate

[2020-11-06 14:56] soulgalore commented on #1427
I see cool. I think I can fix that if you share a simple profile for your use case with the file? It would be great to add a test case where we have profile, I don't think we have that today.

[2020-11-10 14:33] soulgalore commented on #894
This was fixed long time ago!

[2020-11-10 14:33] #894 closed

[2020-11-10 14:35] soulgalore commented on #946
I tried this out, but we will miss out on the stats per URL/script that we have today. However it is not perfect right now either since we use a patched Tracium.

[2020-11-10 14:35] #946 closed

[2020-11-10 14:36] soulgalore commented on #969
That is merged in Selenium but not released yet.

[2020-11-10 14:38] soulgalore commented on #1004
Closing this since I locally can run the tests on Firefox on Android.

[2020-11-10 14:38] #1004 closed

[2020-11-10 14:40] soulgalore commented on #1154
I think this is fixed.

[2020-11-10 14:40] #1154 closed

[2020-11-10 14:41] #1205 closed

[2020-11-10 14:43] soulgalore commented on #1407
Implemented.

[2020-11-10 14:43] #1407 closed

[2020-11-10 14:44] soulgalore commented on #1419
This is fixed and released.

[2020-11-10 14:44] #1419 closed

[2020-11-23 11:32] soulgalore opened #1437 "Using Firefox on Android it seems like we always try to add meta data to the HAR"
But we don't get a HAR from Firefox on Android, so we should just avoid it.

[code]

[2020-11-26 13:37] soulgalore opened #1441 "Report runs that do fail"
Today we report errors (starting the browser, failing to get the URL, the page do not load etc) and we miss out on reporting number of complete runs that fails. We should also add that to the log output, so its easy to keep track of.

[2020-11-28 10:02] soulgalore opened #1442 "Add support for alias from CLI and use alias for folder name"
Today we can only use an alias direct from scripting. We should also support it from the cli, and when we use an alias, we should use it to create the folder structure (instead of the URL).

[2020-12-01 16:45] gmierz opened #1446 "Bottom of FFMPEG screen recording is being left out"
The changes in PR #1435 fixed the majority of the issues I was seeing when using FFMPEG for screen recording but it seems like the bottom of the videos is being left out when using FFMPEG in comparison the the Firefox Window Recorder. See below for a video of the difference (before is the window recording, after is the FFMPEG recorder).

Video: https://mozilla.modular.im/_matrix/media/r0/download/

[2020-12-01 21:37] soulgalore commented on #1446
Hi @gmierz let me test it tomorrow. I always test with the HAR Export trigger and devtools open (to be able to get the HAR file) so my guess is that I've made it default to skip that part of the screen (it looks to big though the part that its missed, but maybe its a combination of that + the extra pixels added at the top).

[2020-12-02 01:55] soulgalore commented on #1446
Hi again @gmierz I 'm having a hard time to reproduce it, can you show me what viewport you are using? I tried with the default settings only Mac and there it looks to have the full screen. Tried in Docker and it looks like this:
<img width="1359" alt="Screenshot 2020-12-02 at 02 49 39" src="https://user-images.githubusercontent.com/540757/100818090-b5115100-3449-11eb-986e-c495a1fd1a14.png">
And w

[2020-12-02 23:27] mcomella opened #1448 "On Android, incorrect pid is returned on Galaxy S5 (an old device), providing invalid results for processStartTime"
### Steps to reproduce
I'm a Mozilla developer running browsertime through our `mach perftest` harness. I was unable to figure out how to run browsertime standalone so I couldn't provide a smaller reproducible test case.
- Set up mozilla-central (probably clone and run `./mach create-mach-environment`)
- Plug in Galaxy S5 (or probably similarly old devices – shell commands have varied behavior on

[2020-12-03 14:52] gmierz commented on #1446
Hmm interesting, we are using a 1024x768 as the viewport. Locally, I tried using 1920x1080 and it was also breaking. Here's the browsertime command line if it helps:
`node /Users/cltbld/tasks/task_1605816725/fetches/browsertime/node_modules/browsertime/bin/browsertime.js --firefox.geckodriverPath /Users/cltbld/tasks/task_1605816725/fetches/geckodriver /Users/cltbld/tasks/task_1605816725/build/test

[2020-12-03 20:50] soulgalore commented on #1446
Let me compare tomorrow and also run with windowRecorder and compare them. On your local machine, do you use Mac/Linux or Windows? Wanna try to reproduce.

[2020-12-04 07:40] soulgalore commented on #1446
I'm testing on my Mac and cannot see any difference there but we have a little bit different logic for ffmpeg for Apple, Linux and Windows.

I tried with our Docker container (I don't have Linux installed at the moment) using Ubuntu:
`docker run --rm -v "$(pwd)":/browsertime sitespeedio/browsertime "https://docs.google.com/spreadsheets/d/1jT9qfZFAeqNoOK97gruc34Zb7y_Q-O_drZ8kSXT-4D4/edit?usp=sharin

[2020-12-04 14:13] gmierz commented on #1446
This is good to know, thanks for checking @soulgalore! I have a feeling it has something to do with the hardware we're running on - I'll continue debugging this. We use Mac Minis for the MacOS tests, and HP Moonshots for the linux and windows tests:
[code]

[code]

[2020-12-14 12:02] soulgalore opened #1452 "If a URL fails to load in Chrome and ends up on chrome-error://chromewebdata/ incorrect URL/error is reported"
There's a problem when we test multiple URLs and the first URL fails in Chrome and we end up on 'chrome-error://chromewebdata/'. Then chrome-error://chromewebdata/ is reported as the tested URL (wrong).

[2020-12-16 03:58] #1448 closed

[2020-12-17 01:19] #1452 closed

[2020-12-26 18:05] marty90 opened #1459 "Setting Network Throttle on Chrome internally"
Chrome allows emulating network conditions internally through the developer tools.
This is also exposed via the Chrome DevTools Protocol (see [here](https://chromedevtools.github.io/devtools-protocol/tot/Network/#method-emulateNetworkConditions)).

Using this feature to emulate network conditions would be very useful as it does not rely on any form of external tools (`tc`, `netem`) and would allow

[2020-12-26 21:11] soulgalore commented on #1459
Hi @marty90 you can read more about that throttling in https://github.com/GoogleChrome/lighthouse/blob/master/docs/throttling.md and look for _Request-level throttling_ . I've never used it for testing except outside of one off tries inside of devtools.

[2020-12-26 21:12] soulgalore commented on #1442
Released!

[2020-12-26 21:12] #1442 closed

[2020-12-26 21:12] soulgalore commented on #1437
Released and fixed.

[2020-12-26 21:12] #1437 closed

[2020-12-27 09:51] marty90 commented on #1459
Thank you for the pointer. Looking at [this](https://docs.google.com/document/d/1TwWLaLAfnBfbk5_ZzpGXegPapCIfyzT4MWuZgspKUAQ/edit), it seems that DevTool Throttling is not very accurate - e.g., does not introduce latency on DNS.

[2020-12-27 10:37] marty90 commented on #1459
Making several tests with shaping is now a bit hard...  Imagine you have a large server, you can hardly parallelize your tests, as you should know in advance how many `ifb` interfaces you need...

[2021-01-05 09:44] jajo-shubham opened #1460 "Issue in passing custom edge for binary"
Hey @soulgalore !
The documentation says that chrome flags are valid for edge also, but I'm unable to use a custom edge binary with the option

Is this even possible or I am doing something wrong over here?

Command Ran ` node bin/sitespeed.js http://amazon.com -b edge  --chrome.binaryPath  /Applications/Edge86.app/Contents/MacOS/Microsoft\ Edge  --edge.edgedriverPath ~/86/msedgedriver`

OS: BigSu

[2021-01-05 10:08] jajo-shubham commented on #1460
Also FYI, Edge exact version is 86.0.622.38 and the msedge driver was used from here https://msedgedriver.azureedge.net/86.0.622.38/edgedriver_mac64.zip

[2021-01-05 11:39] soulgalore commented on #1460
Hi @jajo-shubham my guess is that I've missed to test, I guess we need also have a binary setup, let me try tonight. Thanks for creating the issue!

[2021-01-05 12:02] soulgalore commented on #1460
I've fixed it and can do a release tonight.

[2021-01-05 12:17] jajo-shubham commented on #1460
Thanks @soulgalore  for the quick reply and quick fix.. 👍

[2021-01-06 07:55] jajo-shubham commented on #1460
Hey @soulgalore  I tried the new release 11.0.1 from browsertime but I am still facing an issue:
It runs the test on edge but I checked the browser version while the test was loading and it picks up the default Edge which was Edge 87 instead of honoring the flag with binary path

`node sitespeed.io/bin/sitespeed.js -b edge --edge.binaryPath /Applications/Edge86.app/Contents/MacOS/Microsoft Edge --

[2021-01-06 14:36] soulgalore commented on #1460
I tried direct in Browsertime, but I didn't download another binary. When I try with a broken path I can at least see that the path is picked up:

`bin/sitespeed.js -b edge --edge.binaryPath /blahaha/ https://www.sitespeed.io -n 1`

outputs:
[code]

Do you get the same? I wonder if sitespeed.io was updated at that time when you tested?

[2021-01-06 19:58] jajo-shubham commented on #1460
So I retried with 16.2.1 directly and it is honoring incorrect path now, but on correct path it errors out with this error:

`[2021-01-07 01:25:17] INFO: edge failed to start, trying 2 more time(s): Server was killed with SIGABRT`

[2021-01-06 22:49] soulgalore commented on #1460
I tried and I also gets an error (tried with the dev version and matching Edgedriver):
`[2021-01-06 23:46:29] INFO: edge failed to start, trying 2 more time(s): unknown error: MSEdge failed to start: was killed.
  (chrome not reachable)
`
For Chrome that usually means a missmatch between Chrome and Chromedriver but I think I test the matching versions. Let me try it out some more.

[2021-01-08 11:45] TusAuto opened #1463 "Sitespeed unable to mount pwd to docker container. Getting error overview-page.js does not exist, is the path to the file correct?"
1. I have .js script  locally. And i am executing sitespeed script using Docker desktop.
2.  when execute below command in bash

docker run --shm-size=1g --rm -v   "${pwd}:/sitespeed.io" sitespeedio/sitespeed.io:15.6.1  -b  chrome overview-page.js --browsertime.headless    --multi   -n 1

3. getting below  error
overview-page.js does not exist, is the path to the file correct?
4.  I have checked f

[2021-01-08 12:25] soulgalore commented on #1463
Hi @TusAuto in your example you put the "-character on the wrong place, the correct way is:
`docker run --rm -v "$(pwd)":/sitespeed.io`

[2021-01-08 13:23] TusAuto commented on #1463
@soulgalore .. tried with correct syntax still issue is same.

[2021-01-08 15:10] soulgalore commented on #1463
What OS are you using?

[2021-01-11 05:27] TusAuto commented on #1463
@soulgalore : Its windows 10.

[2021-01-11 05:34] soulgalore commented on #1463
At least you needed to map the absolute path on Windows, so try to change `"$(pwd)"` to a full absolute path.

[2021-01-11 06:06] TusAuto commented on #1463
@soulgalore : Absolute path is working locally. Thing is issue with pwd.
Locally i executed pwd with / slash like :  docker run --shm-size=1g  --rm  -v "/$(pwd)":/sitespeed.io  sitespeedio/sitespeed.io:15.6.1   script/overview-page.js  --multi  --browsertime.headless  -n 1. And its working fine. But same command when executed in git repository . Overview-page script not found error.

And another s

[2021-01-11 06:58] TusAuto commented on #1463
[CI_Pipline_Execution.txt](https://github.com/sitespeedio/browsertime/files/5794322/CI_Pipline_Execution.txt)

[2021-01-13 13:05] TusAuto commented on #1463
@soulgalore : please guide me on above topic. As we are stuck with pipeline implementation.

[2021-01-14 06:34] soulgalore opened #1465 "Different URLs with the same alias do not work"
There's users that tests a couple of pages in a script, give each URL each an alias and then between runs, the URL will change. It could be session id or something that is in the path.

Easiest to reproduce the problem is this hack:
[code]

And then run two runs. The error will look like:
[code]
The problem at that point is that we try to add the fully loaded metric (taking from the HAR) but there

[2021-01-19 04:48] #1465 closed

[2021-01-19 16:50] Tharushan opened #1470 "Getting multiple HAR concurrently"
Hello,

I'm having an issue in my process to dockerize my tests using browsertime and hope you can help or at least guide me to better solutions.

## Context

Actually I am using browsertime through docker containers using script like this:

[code]

I'm using this to get HAR but the problem is I am actually doing it on at least 10 websites using various parameters ( mobile / desktop,  passing some

[2021-01-28 07:18] soulgalore commented on #1302
Fixed by https://github.com/sitespeedio/browsertime/pull/1477

[2021-01-28 07:18] #1302 closed

[2021-02-01 18:18] soulgalore opened #1483 "Errors running sitespeed.io on Mac mini M1 NodeJS v14.15.4"
I've have a new machine where I try to run my tests and after a while I get errors like:

[code]

But I'm not sure if its caused by me, the simulator or if something is wrong with the installation on that machine.

[2021-02-02 16:32] soulgalore commented on #1483
Got a bunch of node crashes on that machine looking like:
[code]

[2021-02-02 17:43] soulgalore opened #1486 "Loading pages in the iOS simulator sometime finish before page load is done"
and we get 0 in visual metrics:
<img width="490" alt="Screenshot 2021-02-02 at 18 41 45" src="https://user-images.githubusercontent.com/540757/106640469-633e9180-6586-11eb-8336-7d5823f0e2b6.png">

[2021-02-03 06:55] soulgalore commented on #1483
The problem is not related to the simulator. I can reproduce this on the same machine (using v14.15.4) just running `node --version` in a loop. The problem is that it doesn't happen on the first iterations.

[2021-02-03 08:38] soulgalore commented on #1486
I can also see that we sometimes ends the tests before the last image has been loaded. Let go through the code, maybe there's a bug or there's an upstream issue in WebDriver/Safari.

[2021-02-03 09:28] soulgalore commented on #1483
I get the same with Node 12.20.1.

[2021-02-03 09:34] soulgalore commented on #1486
This should be fixed by setting: `--browsertime.pageCompleteWaitTime` default is 5000 ms, setting that to a higher value should do the trick.

[2021-02-03 10:53] soulgalore commented on #1483
So I wonder if it is that nohup doesn't work as it should. I could see that I start with nohup but then when I leave the shell, the error occur.

[2021-02-03 19:30] soulgalore commented on #1483
Yep that was the problem. nohup doesn't work on Mac, instead use screen.

[2021-02-03 19:30] #1483 closed

[2021-02-04 14:08] soulgalore commented on #1486
Lets set a higher default value before the next release.

[2021-02-09 14:53] eserte opened #1487 "Inconsistent replacing of characters in path names"
Starting with sitespeed.io:16.0.2, some characters (at least the colon) in path names are in some places replaced to a "-", in other places not replaced at all.

To reproduce the issue create an urls.txt file with a ":" in the alias part:
[code]

Looking at the result pages, it's not possible to access the screenshot image or video.

The file tree also shows the inconsistent replacing:
[code]

[2021-02-10 10:23] eserte commented on #1487
Maybe it would be a good idea to test more systematically. I tried all printable ASCII characters as alias:
[code]
And run into the following error:
[code]
So at least the backqoute needs special care, it seems.

[2021-02-10 10:26] eserte commented on #1487
A command between backquotes even gets evaluated at some place:
[code]
Results in:
[code]

[2021-02-17 08:47] soulgalore opened #1492 "Gnirehtet sometimes starts to fail and stops from starting"
Sometimes Gnirehtet starts to fail and Chrome cannot be started:

[code]

I cannot see anything in the gnirehtet logs. Restarting the client on the phone do not help. Restarting both on desktop and phone helps.

[2021-02-24 11:23] paddy-hack opened #1494 "Please honour the *_proxy environment variables"
I guess I got spoiled by the many utilities that support `https_proxy`, `http_proxy` and `no_proxy` environment variables (or their uppercase cousins) out of the box.  I was surprised `sitespeed.io` doesn't and requires me to add command-line options to set the proxies.  These command-line option do not work when passed the typical values for the environment variables so these need some `sed` proc

[2021-02-24 11:30] soulgalore commented on #1494
Hi @paddy-hack I usually recommend people to test without a proxy to make sure it doesn't interfere with any metric, but if the implementation is simple and there are use cases for using a proxy,  I can review a PR :) Right now we use the default in WebDriver/Selenium. I moved the issue to Browsertime since it's cleaner if the implementation happens there.

[2021-02-26 11:56] paddy-hack commented on #1494
I can understand the desire to cut out factors you cannot control, like proxies, when doing development.  Yet, it is also important to know how one's *production* site is doing in terms of performance.

My issue arose when running tests against a(n example) production site in CI/CD, where the CI/CD runners/workers were behind (on the other side of) a proxy.  I have been dealing with proxies a fair

[2021-03-01 00:06] vivacoda opened #1497 "Fresh install on Ubuntu 20.04 Error: Command failed: sudo ip link set dev ifb0 up"
Ubuntu 20.04 on dedicated server fresh install
Install with Nodejs (no docker)
net-tools is installed

`throttle --up 330 --down 780 --rtt 200`

[code]

[2021-03-06 08:41] paddy-hack commented on #1494
Somehow, now I find myself looking at cooking something up.  More so after seeing #609 and #857 getting closed without being addressed.

[2021-03-10 12:26] paddy-hack commented on #1494
I've done a pile of additional testing and it appears that `sitespeed.io`/`browsertime` honours the various `*_proxy` environment variables (on Linux) after all.  I guess I got lost in all the moving parts of the CI/CD chain.

The Selenium webdriver uses the "system proxy settings" by default on Linux.  These appear to include `auto_proxy`, `https_proxy`, `http_proxy` and `no_proxy` as well as the

[2021-03-10 12:26] #1494 closed

[2021-03-14 20:00] soulgalore commented on #1497
HI @vivacoda sorry I missed this. Can you try run https://github.com/sitespeedio/throttle directly and then log all commands using `--log` then its easier to see what goes wrong.

Best
Peter

[2021-03-15 13:27] TusAuto commented on #1463
@soulgalore after discussion with devops guys , We came to conclusion that , Docker in docker is not supported by our organization runner. It is disabled by organization due to security reason.   So "docker run " command is not supported in CI. Hence we have adapted node instead of docker. Now its working fine in our CI/CD.  We are getting good UI measures. But are using circle/ci node image which

[2021-03-16 01:06] soulgalore commented on #1463
Aha thanks for sharing @TusAuto !

[2021-03-16 10:31] jajo-shubham opened #1505 "RESOURCE_TIMINGS script errors out for certain particular websites"
Greetings @soulgalore !

The RESOURCE_TIMINGS script errors out for certain particular websites..
For example - on executing  `sitespeed.io -b safari  http://babytree.com -n 1 --visualMetrics `

[2021-03-16 15:57:09] INFO: Running tests using Safari - 1 iteration(s)
[2021-03-16 15:57:11] INFO: Testing url http://babytree.com iteration 1
[2021-03-16 15:57:35] ERROR: Couldn't execute script named RE

[2021-03-16 12:36] soulgalore commented on #1505
Hi @jajo-shubham I see, thanks for creating the issue, can you create an upstream issue for Safari please?

I verified and get the same, however running `performance.getEntriesByType("resource");` in the console I get the JSON back but I didn't look/see the cyclic structure. It would be great to see to make it easier to create a bug report.

[2021-03-16 12:46] jajo-shubham commented on #1505
Thanks for getting back!
Yeah it works for me too inside the console.. I think some assets are not loading in the resource entries which are skipped in the array on console but some assets are give 4xx due to which it tries to parse it for the log.
Also I didnt  understand what you mean by **upstream** issue ? and why is it only there on big sur?

[2021-03-16 17:48] soulgalore commented on #1505
Sorry let me explain better! I think the bug is in Safari in their implementation in the resource timing API.  That what was I meant by upstream. It looks like `performance.getEntriesByType("resource");` then produces un-parsable JSON, I can have a look in a couple of days what's actually happens.

[2021-03-16 19:45] jajo-shubham commented on #1505
To me, it looks like an issue in `selenium-webdriver` . It is reproducible even for other browsers like chrome with this script when used `selenium-webdriver@4.0.0-beta.1`

const { ServiceBuilder } = require('selenium-webdriver/chrome');
const driverPath = '/Users/shubhamjajodia/Downloads/chromedriver'
const serviceBuilder = new ServiceBuilder(driverPath);
(async function example() {
  let browser

[2021-03-16 20:15] soulgalore commented on #1505
I see I didn't try other version, can you please create an issue in the selenium repo, thanks!

[2021-03-16 20:58] jajo-shubham commented on #1505
Sure .. thanks @soulgalore

[2021-03-19 14:58] soulgalore opened #1517 "New ADB kit causing error on Ubuntu in Docker"
[code]

[2021-03-19 21:50] soulgalore commented on #1517
This seems to only happens when you run in Docker. Running Ubuntu works just fine.

[2021-03-20 12:15] soulgalore commented on #1517
I've added https://github.com/DeviceFarmer/adbkit/issues/94

[2021-03-20 20:31] soulgalore commented on #1517
Reverted the change, lets upgrade when the fixes been done in adbkit.

[2021-03-20 20:31] #1517 closed

[2021-03-26 14:24] soulgalore opened #1523 "Make it possible to get tcpdump from rooted Android phones"

[2021-03-29 13:35] Ch3sh1r3-C4t opened #1525 "Problem launching Browsertime docker with extension using a specific profile folder on Windows"
### **Introduction**
Hi, I am a cybersecurity researcher and university student. I am trying to use browsertime to detect the efficiency of browser extensions (focused on security and protect the user) in detecting/blocking malicious sites, as well as measuring the impact on the performance they have.

To do this I created a few browser profiles. Each one of them contains an extension that I wish

[2021-03-29 13:58] soulgalore commented on #1525
Hi @LucSai when you run in Docker, it will use the Chrome version in the container (Linux version). If you wanna run extensions in the container you need to link ("share") your extension dir to the container. For your use case I think its easier to just run the NodeJS version? Then it will use your installed browser etc and its easier conceptuella how to use extensions. Checkout how we install in

[2021-03-29 14:09] LucSai commented on #1525
Hi @soulgalore , thank you so much for the quick reply!  I will install the nodejs version and give it a go with it, hopefully it will fix the issue.

[2021-03-29 16:30] LucSai commented on #1525
Hi @soulgalore I just installed npm and run a test with the version installed with npm, but for some reason it still does not work...
I can clearly see that the profile with the extension gets loaded fine this time, but the extension still don't block the malicious pages for some reason... Can you think of anything else that might be causing this issue or that I might do/implement to try to fix th

[2021-04-01 09:34] soulgalore commented on #1525
How do the block in the extension work? By default we navigate to a new page using JavaScript like this. `window.location='https://www.sitespeed.io';` You can also navigate using webdriver directly, try it out by setting: `--webdriverPageload=true`

[2021-04-02 07:33] umeshPathak opened #1531 "discrepancies in Har generated from browsertime and Chorme DevTools"
There are discrepancies in the har generated from browsertime and the one from Chrome Dev tools

Find attached the two har files run on https://www.infosys.com

I have used  below commands to generate the HAR using browsertime

`browsertime https://www.infosys.com --chrome.chromedriverPath D:\programs\chromedriver_win32\89.0.4389.23\chromedriver.exe --iterations 1 --headless --browser chrome  --ch

[2021-04-02 09:40] LucSai commented on #1525
Hi, thank you a lot for your help and support! I will try using the webdriverPageLoad switch and see if it improve the situation.

Regarding the extension, as far as I am aware, it should check the URL against the lists of malicious websites from Microsoft, and if the list from windows flag the website as malicious it should warn the user and block it. I am not sure whether they also use other inf

[2021-04-09 20:36] sefeng211 opened #1538 "geckoprofiler should wait for a few seconds after `Start GeckoProfiler`"
We should wait for a few seconds after https://github.com/sitespeedio/browsertime/blob/9004781fda367edcbd7285723949a02c23ec998f/lib/firefox/geckoProfiler.js#L88 to let it settle down.

[2021-04-10 07:00] soulgalore commented on #1538
I can add that. Is two seconds enough @sefeng211 ?

[2021-04-10 21:40] sefeng211 commented on #1538
I think we uses 3 seconds in Gecko

[2021-04-12 06:21] soulgalore commented on #1538
Fixed it in https://github.com/sitespeedio/browsertime/pull/1539

[2021-04-12 06:21] #1538 closed

[2021-04-12 06:53] soulgalore commented on #755
Closing this since I will implement a new version. Lets create new issues for that version.

[2021-04-12 06:53] #755 closed

[2021-04-12 06:55] soulgalore commented on #847
If you want to measure other things than navigation you can use the new stop watch command.

[2021-04-12 06:55] #847 closed

[2021-04-12 06:56] soulgalore commented on #859
This will automatically be fixed when Firefox supports CDP.

[2021-04-12 06:58] soulgalore commented on #947
No I haven't worked at this.

[2021-04-12 06:59] soulgalore commented on #969
This is merged in Selenium so maybe we should have a new go and test if it works.

[2021-04-12 07:03] soulgalore commented on #1109
This has been fixed.

[2021-04-12 07:03] #1109 closed

[2021-04-12 07:06] #1329 closed

[2021-04-12 07:07] soulgalore commented on #1492
I've been running Gnirehtet more and not works fine as long as you use 4g or faster.

[2021-04-12 07:07] #1492 closed

[2021-04-12 07:16] soulgalore commented on #1525
Hi @LucSai did you get it to work? When I looked at the extension it said "Currently supported region(s):  United States " what does that mean?

[2021-04-12 07:21] soulgalore commented on #958
I think this is much work to get to work with Chrome?

[2021-04-12 07:23] soulgalore commented on #1072
You can do that yourself with scripting if you need.

[2021-04-12 07:23] #1072 closed

[2021-04-12 07:25] soulgalore commented on #1142
I'm planning to rewrite and move Visual Metrics to NodeJS.

[2021-04-12 07:25] #1142 closed

[2021-04-12 07:27] soulgalore commented on #1164
Closing since in the upstream issue it seems to be a non issue.

[2021-04-12 07:27] #1164 closed

[2021-04-12 07:30] soulgalore commented on #1181
I think this has been fixed.

[2021-04-12 07:30] #1181 closed

[2021-04-12 07:31] soulgalore commented on #1211
This works but you need to let Firefox wait.

[2021-04-12 07:31] #1211 closed

[2021-04-12 07:35] soulgalore commented on #1222
I'm rewriting Visual Metrics this week and lets make sure I fix this.

[2021-04-12 07:52] soulgalore commented on #1233
Sorry I totally missed this. You missed one - sign for injectJS, `--injectJs ` is the correct way, I tested now it works.

Easiest way to run when the page has finished loading is using scripting.

[2021-04-12 07:52] #1233 closed

[2021-04-12 07:53] soulgalore commented on #1244
This will be fixed when Firefox supports CDP.

[2021-04-12 07:53] #1244 closed

[2021-04-12 07:55] soulgalore commented on #1274
We have bigger problems with Safari and WebDriver at the moment so lets close this.

[2021-04-12 07:55] #1274 closed

[2021-04-12 07:55] #1303 closed

[2021-04-12 08:12] soulgalore commented on #1326
Ok, when I updated the connectivity profiles, I missed to make them default when we did a stable release. I'm doing that now for the coming the release.

[2021-04-12 08:12] #1326 closed

[2021-04-12 08:53] soulgalore commented on #1328
I'll close this for now and then we can re-open if someone needs it.

[2021-04-12 08:53] #1328 closed

[2021-04-12 08:54] soulgalore commented on #1373
Closing since we didn't get any feedback.

[2021-04-12 08:54] #1373 closed

[2021-04-12 08:56] soulgalore commented on #1400
I plan to remove TSProxy since it only support Python2 and will not do any work on it.

[2021-04-12 08:56] #1400 closed

[2021-04-12 08:57] soulgalore commented on #1402
I think this is something strange in the env where we test.

[2021-04-12 08:57] #1402 closed

[2021-04-12 09:31] soulgalore commented on #1412
This has been fixed.

[2021-04-12 09:31] #1412 closed

[2021-04-12 09:32] soulgalore commented on #1413
I think this works now.

[2021-04-12 09:35] soulgalore commented on #1416
The change between 8.5 and 8.6 was the upgrade to Ubuntu 20.04 in the Docker container.

[2021-04-12 12:08] soulgalore commented on #1486
New defaults in next stable

[2021-04-12 12:08] #1486 closed

[2021-04-12 12:13] soulgalore commented on #1410
Hi @dpburst sorry for being so late on this. If you mean you want the DOM you get the generated DOM using [scripting](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#chrome-devtools-protocol) and Chrome devtools protocol for Chrome: https://chromedevtools.github.io/devtools-protocol/tot/DOM/#method-getDocument.

If you mean resources, what resource that was triggered by what, you ca

[2021-04-12 12:13] #1410 closed

[2021-04-12 12:21] soulgalore commented on #1320
Yep I see your point, but I think you are wrong how other tools show them, see the Lighthouse link I posted and the screenshot from LightHouse:

<img width="367" alt="Screenshot 2021-04-12 at 14 15 56" src="https://user-images.githubusercontent.com/540757/114392846-9f4f2d80-9b99-11eb-91c5-5903ad3fec39.png">

I don't changing though, can we have something better than it unitless?

[2021-04-12 12:22] soulgalore commented on #1446
I'm closing this, but please re-open if you still have an issue with it!

[2021-04-12 12:22] #1446 closed

[2021-04-12 12:24] soulgalore commented on #1459
I'm closing but you can use it yourself if you use [scripting and the Chrome devtools protocols](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#chrome-devtools-protocol).

[2021-04-12 12:24] #1459 closed

[2021-04-12 12:33] soulgalore commented on #1470
Hi @Tharushan sorry for not getting back earlier. Can you try to simplify the use case and see when it stops to work? When I try to run something simple like :
`docker run --rm -v "$(pwd)":/browsertime sitespeedio/browsertime https://www.sitespeed.io/ --cpu`
at the same time, I don't get an error.

[2021-04-12 12:34] #1463 closed

[2021-04-13 14:02] LucSai commented on #1525
I honestly don't  know what they mean by the "Currently supported region(s): United States"...
Personally, I think that might refer to the language used, as it is only support English (United State) as a language (but that is only my assumption). At the moment I managed to get it to work by increasing the number of iteration in the configuration file, from one to two.

[2021-04-15 06:34] soulgalore commented on #1406
This has been released.

[2021-04-15 06:34] #1406 closed

[2021-04-16 13:45] soulgalore opened #1548 "Chrome/Chromedriver 90 do not play nice on Mac OS"
It seems to be some kind of bug that was introduced in 90:

[code]

When I look in the chromdwriver log I get:
[code]

But it only seems to happen when I throttle the connection. Let me investigate it.

[2021-04-16 14:24] soulgalore commented on #1548
It seems like with 90 Chrome isn't closed fast enough. Using a delay between runs fixes the problem:
`https://www.sitespeed.io -n 3 --connectivity.engine throttle -c cable -b chrome --delay 2000`

[2021-04-17 15:02] soulgalore commented on #1548
Its fixed on our side but I should create a bug for Chromedriver.

[2021-04-17 15:02] #1548 closed

[2021-04-20 07:24] soulgalore opened #1550 "Fix scroll.byPages command to work in all browsers"
I think this should be possible in plain JS, let me test.

[2021-04-21 14:14] soulgalore commented on #1550
Coming in next release.

[2021-04-21 14:14] #1550 closed

[2021-04-26 17:40] soulgalore opened #1557 "Script in browser are broken for all browsers except Firefox"
All browsers except Firefox fails to get the data in the browser scripts located in:
https://github.com/sitespeedio/browsertime/tree/main/browserscripts/browser

This has been broken since privileged scripts was introduced. Let me fix that.

[2021-04-26 20:24] #1557 closed

[2021-04-30 20:38] acreskeyMoz opened #1566 "Running with --video where the video would need to be overriden silently stalls browsertime (macOS)"
When running a test where the video recording already exists (and would need to be overwritten), I'm seeing browsertime silently stall after issuing the ffmpeg video command. (macOS).

If I delete the previously-made video, the new recording will be made and the test will proceed.

For instance, here's an example ffmpeg command:
[code]

If I run that from the terminal, I see the prompt: `Overwrite

[2021-05-05 04:36] soulgalore commented on #1566
Hi @acreskeyMoz ok, let me fix that. Need to check though, I wonder if the other result files are overwritten by default?

[2021-05-05 06:39] soulgalore commented on #1566
Hmm.I cannot reproduce it. That file *x11-tmp.mp4* is the temporary file that should be removed between runs, that is strange. If you empty the dir @acreskeyMoz and do one run, do you have that temporary file?

[2021-05-05 18:26] acreskeyMoz commented on #1566
Thanks for looking at this @soulgalore .

I think I found out what was happening:
I must have been interrupting my runs (e.g. through Ctrl-C), and I just confirmed that in this case the file _x11-tmp.mp4_ will be left behind, thus stalling the next run.

Outside of the user aborting the test, I haven't been able to reproduce this.

[2021-05-05 18:35] acreskeyMoz commented on #1566
Ah, some test errors will also leave the residual temp file, `x11-tmp.mp4`

e.g.
[code]

[2021-05-12 12:24] sebguilbaud opened #1577 "Cookies containing "=" character in values are truncated"
Cookies containing "=" in values are truncated because of this line :

https://github.com/sitespeedio/browsertime/blob/main/lib/chrome/chromeDevtoolsProtocol.js#L134

[2021-05-21 06:53] #1577 closed

[2021-05-25 09:02] Tharushan commented on #1470
Hey @soulgalore ,

Sorry for the late reply, running in multiple containers at the same time actually works but I'm actually trying to parallelize these tests for multiple websites in a single docker container so it's more efficient

[2021-05-26 18:55] soulgalore commented on #1380
A workaround was released earlier today.

[2021-05-26 18:55] #1380 closed

[2021-06-07 06:16] alexandru-io commented on #1427
Hi @soulgalore . Here it is. Please let me know if it's not a good one.
[code]

[2021-06-10 12:27] soulgalore opened #1598 "Video/Visual Metrics on Safari iOS do not work"
I've implemented it blindly, and now when the workaround for Safaridriver fixed the driver problem, video do not work. There's some more info in https://github.com/danielpaulus/quicktime_video_hack/issues/96.

[2021-06-11 11:18] soulgalore commented on #1275
This is still an issue. I wonder if it's the might blob/size that is the problem or if there's one advice that fails? One way to test would be to run one category at a time.

[2021-07-07 13:42] ramkumar-sukumaran opened #1603 "browsertime installation issue - error 404 Not Found - GET http://registry.npmjs.org/browsertime"
Hi,

We were trying to install browsertime in my system were getting below error.

npm ERR! code E404
npm ERR! 404 Not Found - GET http://registry.npmjs.org/browsertime
npm ERR! 404
npm ERR! 404  'browsertime@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 4

[2021-07-07 14:48] soulgalore commented on #1603
Hi @ramkumar-sukumaran I think this is either npm temporary glitch or maybe something in your setup? What happens if you try `npm view browsertime`?

[code]

[2021-07-07 15:24] ramkumar-sukumaran commented on #1603
Hi @soulgalore
Please find the below details when I execute the given command.

C:\>npm view browsertime
npm ERR! code E404
npm ERR! 404 'browsertime' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, http url, or git url.
npm ERR! 40

[2021-07-07 19:53] soulgalore commented on #1603
My guess is that your proxy settings aren't correct? Does other npm module work?

[2021-07-13 09:20] ledleds opened #1606 "byJsAndWait function not working"
Hello! Just raising this as a possible bug. I was having problems getting byJsAndWait working with the following code:

[code]

I get the following error after running `docker run --shm-size 2g --rm -v "$(pwd):/sitespeed.io" --network=host sitespeedio/sitespeed.io:17.8.3 ./test/performance/sitespeedScript.js --multi -n 1 --html.summaryBoxes -b chrome`:

[code]

I did get it working by replacing by

[2021-07-13 11:49] soulgalore commented on #1606
Hi @ledleds thank you for creating the issue! I think the documentation is missing parts here and the code also be smarter, let me create an issue for fixing that for the coming release. At the moment the backend code append `.click` to the code that you pass in (but the documentation talks about evaluating the expression). Passing on` document.querySelector('[data-test-id="myTestId"]').querySelec

[2021-07-13 13:08] ledleds commented on #1606
Awesome! Thanks for the super quick response, and for Sitespeed! 🎉
Would you like me to close this for now?

[2021-07-13 13:31] soulgalore commented on #1606
No, lets keep this open until I've done some changes in Browsertime so it can handle expressions that ends with a ;-mark.

[2021-07-16 07:04] soulgalore commented on #1606
I've released a new version with a fix and the updated sitespeed.io just got released too.

[2021-07-16 07:04] #1606 closed

[2021-07-16 11:06] ledleds commented on #1606
Thanks @soulgalore!

[2021-07-22 14:43] soulgalore opened #1613 "Make it easier to use Chrome"
I created a Chromedriver issue to remove or add a flag to remove the version check against Chrome that would make it so much easier to use Chrome:
https://bugs.chromium.org/p/chromedriver/issues/detail?id=3864

[2021-07-22 14:51] soulgalore opened #1614 "Chrome 92 introduced too early first visual change"
I've seen these on the tests we run on dashboard.sitespeed.io:
<img width="1168" alt="Screenshot 2021-07-22 at 16 51 20" src="https://user-images.githubusercontent.com/540757/126659949-f096f2fa-cbf5-40d5-96af-70ac13894832.png">
<img width="1299" alt="Screenshot 2021-07-22 at 16 50 51" src="https://user-images.githubusercontent.com/540757/126659957-5f3b80b8-55e6-4216-bb23-1ef69a42e48a.png">

[2021-07-22 15:13] soulgalore commented on #1614
Hmm, I haven't been able to reproduce this on my local machine, neither using OS X or using Docker.

[2021-07-22 15:24] soulgalore commented on #1614
On the test machine we pickup the browser bar and the changes within that is picked up. That do not happen on my local machine.

[2021-07-23 08:00] soulgalore commented on #1614
I could reproduce this with visual metrics by downloading a original video from the server. Waiting longer (5s?) makes it work in some cases. Let me try some more tonight.

[2021-07-23 14:56] soulgalore commented on #1614
This seems to have been fixed by increasing the URL bar size for Visual Metrics.

[2021-07-27 09:23] alexandru-io opened #1618 "Assertion `(ret) != (nullptr)' failed."
Hi,

While running browsertime on firefox we encountered the following error:
[code]

It looks like node is running out of memory, based on the line referenced in the error (https://github.com/nodejs/node/blob/v12.x/src/env-inl.h#L949).
Is this reproducable on your side? Have you seen this before?

[2021-07-27 14:03] soulgalore commented on #1618
Hi @alexandru-io not directly when I use Browsertime, but I've seen similar for sitespeed.io users (normally users test more URLS and more metrics within the same run = need more memory). You can increase the memory for NodeJS. I think the default size is 2048 mb (or at least was before). Checkout https://support.circleci.com/hc/en-us/articles/360009208393-How-can-I-increase-the-max-memory-for-Nod

[2021-08-03 09:03] alexandru-io commented on #1618
@soulgalore the problem is that the test is running node via a command line argument `./mach raptor --test ... --browsertime-node [path_to_binary_node]` and I don't know how to pass that `--max-old-space-size` this way. I'm not familiar with node. Any ideas?

[2021-08-03 19:45] soulgalore commented on #1618
@alexandru-io you can export that as a node option on your own machine to try. If you are on Linux you can try:

[code]

[2021-08-12 13:26] soulgalore opened #1622 "Expose Firefox and Chrome runtime settings"
If you look at the result you cannot say which Chrome/Firefox switches/arguments/preferences that was used for that run, that would be great to know for debugging purposes.

[2021-08-20 12:10] #1614 closed

[2021-08-31 09:19] eQza commented on #1429
bump, got the same issue

[2021-09-01 12:03] soulgalore commented on #1429
Hi @eQza can you try with 19.3.0 of sitespeed.io (or Browsertime 14.1.0 if you are a Browsertime user), I tried to fix it to those releases, please let me know if it works now.

[2021-09-08 17:46] jesup opened #1632 "Unexplained jump in SpeedIndex/etc values after updating browsertime"
Old browsertime version: 11.0.2
New browsertime version: 14.0.3

Metrics measured in the Mozilla AreWeFastYet.com site jumped when we landed browsertime 14.0.3 (and an update to ImageMagik).   Paypal, Google Docs, Ebay, Youtube; also (lesser changes) office, instagram, reddit, bing and a few others.   Seen on multiple platforms (linux, mac, windows).

Measured against recordings replayed with mitm

[2021-09-08 18:23] jmaher commented on #1632
a bit more context, we had originally upgraded August 27th and had to revert our change August 28th due to other failures.  Then we upgraded again on August 31st.  You can see in the graph linked above for ebay the changes match this time frame for a regression, improvement, and regression again.  We have also run the tests again before/after the change on the 31st to ensure we can repeat this reg

[2021-09-08 18:47] soulgalore commented on #1632
Thanks for all the info, that is really helpful. I'll try to reproduce it ASAP. I cannot see anything in the changelog on the Browsertime side that rings any bells so I need to dig into different versions. What Firefox version are you using, I'll try with latest stable.

[2021-09-08 18:53] soulgalore commented on #1632
@jesup is Geckoprofiler turned on when you run your tests? One change that was introduced was some extra wait time for Geckorpofiler to settle see https://github.com/sitespeedio/browsertime/issues/1538. Just looking for changes that somehow can affect Firefox.

[2021-09-08 18:55] soulgalore commented on #1632
To run that as before the change you can add `--firefox.geckoProfilerSettleTime 0`

[2021-09-09 07:06] soulgalore commented on #1632
Ok, I found what changed. it was actually in the [changed section in the CHANGELOG](https://github.com/sitespeedio/browsertime/blob/main/CHANGELOG.md#1200---2021-04-15) but I missed it when I browsed it. The default wait time before the page complete check changed to be 8 seconds instead of 5 (see https://github.com/sitespeedio/browsertime/pull/1542). You can revert that change when you run with a

[2021-09-09 17:06] jmaher commented on #1632
I didn't verify every single change we saw, but adding
`--pageCompleteWaittime 5000` has reset the results back for all of our
linux tests.  I even retriggered the tests and the data is repeatable.

As for our needs at Mozilla- we need to decide if we want to accept this
change or add the cli flag to reset it back to 5000ms.

I believe you can close this issue.

On Thu, Sep 9, 2021 at 12:06 AM Pet

[2021-09-09 19:11] #1632 closed

[2021-09-14 14:33] soulgalore opened #1634 "Add options to use CSS selector when mouse click/double click"
Today you can only get the element by XPATH.

[2021-09-15 07:43] soulgalore opened #1636 "Chrome tests against wikipedia/Facebook using WebPageReplay"
I've been adding tests to the Wikimedia cloud to test the stability and suddenly one of our tests against the Facebook test started to fail:

[code]

[2021-09-15 07:48] soulgalore commented on #1636
That was caused by me, running multiple tests at the same time :(

[2021-09-15 07:48] #1636 closed

[2021-09-15 08:03] soulgalore opened #1637 "Collect screenshots for visual elements"
Today you get screenshots for the element that Chromium picks up as Largest Contentful Paint. We should also support getting screenshots (configurable) when you use the `--visualElements` config. That way you can see that you are measuring the correct element.

[2021-09-15 10:41] soulgalore opened #1638 "Too low TTFB on Safari running on Mac OS"
We have some tests that have a too fast TTFB:

<img width="1241" alt="Screenshot 2021-09-15 at 12 39 39" src="https://user-images.githubusercontent.com/540757/133419128-eb1543b2-d481-42f7-8ccc-67ffddf0dd17.png">

We do eleven runs and I can see that all of them get a too low TTFB, that must mean that sometimes throttle fails to set the correct throttling and I guess we just silently swallow that.

[2021-09-16 10:01] mypchas6fans opened #1639 "sitespeed -vv failed on browsertime"
I tried to run below command:

`docker run sitespeedio/sitespeed.io:19.4.2 -vv -b chrome --outputFolder result --graphite.host MYHOST --graphite.auth USER:PWD --graphite.addSlugToKey true --slug firstView --graphite.namespace sitespeed_io.desktop MYURL`

It prompted below message and the command completed as failure:

`[2021-09-16 09:28:14] DEBUG: [browsertime.command.measure] Mark run as failure

[2021-09-17 04:12] soulgalore commented on #1639
Hi @mypchas6fans thanks again for reporting! This is fixed in sitespeed.io 19.5.0.

[2021-09-17 05:11] mypchas6fans commented on #1639
@soulgalore Thank you! Verified on 19.5.0 successfully.

[2021-09-17 05:11] #1639 closed

[2021-09-20 19:06] soulgalore opened #1642 "iOS 15 Safari tests hangs"
Running a tests own latest iOS 15 navigates to the page but then the tests just never finish.

[2021-09-20 19:09] soulgalore commented on #1642
Ok, it seems that its the same as https://github.com/sitespeedio/browsertime/issues/1275.

[2021-09-20 19:09] #1642 closed

[2021-09-29 08:22] MichaelDally opened #1644 "Allow ContextClick via CSS - currently only supports xpath"

[2021-10-01 11:19] soulgalore commented on #1644
I've pushed this yesterday and today I updated the docs.

[2021-10-01 11:19] #1644 closed

[2021-10-01 11:20] soulgalore commented on #1634
I've pushed this yesterday and today I updated the docs.

[2021-10-01 11:20] #1634 closed

[2021-10-18 12:39] alexandru-io opened #1656 "Save incomplete browser recordings"
For the moment browsertime doesn't save browser recordings that firefox crashed during them. We have tests like youtube-playback that have a single page cycle and fail for some reason before browsertime gets to save the recording. This would probably imply catching the browser error/crash and convert the partial recording as a complete one is converted into a video file.

[2021-10-18 12:48] soulgalore commented on #1656
Hi @alexandru-io yep that would be great. I can have a look, do you have a way I can reproduce or can you see when the crash happens (so if I try to simulate it, I do it at the right place/moment)?

[2021-10-20 19:31] acreskeyMoz opened #1662 "Firefox geckoprofiles and memory reports not collected on Android 10, 11 unrooted devices"
Due to the introduction of Scoped Storage in Android 10, applications can no longer directly access the path `/sdcard` on unrooted devices:

This breaks the Firefox features of writing geckoprofiles and memory reports on Android
https://github.com/sitespeedio/browsertime/blob/bcdaeaebbbaa40c845e6171526c642668852c573/lib/firefox/geckoProfiler.js#L106

https://github.com/sitespeedio/browsertime/blob

[2021-10-25 09:39] GianlucaPoliTo opened #1664 "HAR file partially generated"
Good morning everyone,
I'm testing a video streaming page and I noticed that the har file generated in output from sitespeedio/browsertime (latest version looking today) is partially generated. In particular, what I see is that the har file generally stops at the (almost) 60 requests of the video, but the experiment should arrive at (almost) 150.

The code to run the experiment is:

sudo docker ru

[2021-11-02 17:39] #1662 closed

[2021-11-15 21:25] soulgalore opened #1671 "Firefox HAR export trigger error for Firefox 94"
Some tests for Firefox on our Github Actions tests has stopped working. I started to see that on Windows and now [also on Linux](https://github.com/sitespeedio/browsertime/runs/4216597356?check_suite_focus=true):

The problem is that it generates an empty HAR file:
[code]

However if try the same on http://softwareishard.com/test/harexporttrigger/ I can see that it works. So something in the Brows

[2021-11-16 12:40] soulgalore commented on #1671
Added 93 on the Linux Github action https://github.com/sitespeedio/browsertime/pull/1674 and then it works again.

[2021-11-17 09:07] soulgalore commented on #1671
This works if I increase the timeToSettle time. Increasing it to 7 seconds make it work on my machine.

[2021-11-17 10:10] soulgalore commented on #1671
But settle time do not fix everything, In one of the tests where we test multiple pages wi still get the problem:
[code]

[2021-11-20 09:21] soulgalore commented on #1671
See https://bugzilla.mozilla.org/show_bug.cgi?id=1740116

[2021-11-20 09:30] soulgalore commented on #1638
I think this was issue on that machine

[2021-11-20 09:30] #1638 closed

[2021-11-22 02:52] soulgalore commented on #1671
Running Firefox in Firefox own headless mode works 100%.

[2021-11-25 08:21] soulgalore opened #1681 "Rewrite visual metrics"
One thing that's been around for a long time is Visual Metrics. It was originally built by Pat Meenan, I moved a version into Browsertime with some custom functionality and Mozilla helped added more functionality.

Number one at my wish list is to rewrite visual metrics, because its a lot of code that I don't know and code that isn't used and we are missing a proper testing of the code. In my drea

[2021-11-25 14:07] gmierz commented on #1681
@soulgalore I'm wondering if you've considered any alternatives to this vismet script? I think at one point you mentioned a new method/tool that you wanted to try out but I can't remember the name of it.

[2021-11-25 14:16] soulgalore commented on #1681
There's a private project (that I can share) that Tobias started and I worked on for a while that uses npm modules `image-ssim` and `jimp` to get rid of the python dependencies + ImageMagick (right now we are dependent on an old ImageMagick version). But that version still use ffmpeg to split the video.

[2021-11-26 13:52] gmierz commented on #1681
Getting rid of ffmpeg would be the icing on the cake! :)

[2021-11-29 12:48] afinder-mozilla opened #1683 "[Browsertime] Corrupted video recordings due to missing header information"
It seems there is a defect in browsertime that causes some video recordings to not include the header information, which makes the video files corrupt. Having the possibility to change the video format (.mkv for example) before starting the recording itself would help us play the video even though the header information is not included in the file.

Please view the following defect for more inform

[2021-11-29 13:00] soulgalore commented on #1683
Hi @afinder-mozilla I haven't heard of anything that is broken but if you can help reproduce or help me with the questions I asked in the bugzilla issue:
* Is there a way for me to see the full Browsertime log? I'm thinking if there's something else that goes wrong before the visual metrics error?
* Can you see a pattern for the tests (a specific use case/URLS) etc?
* Do the test run on the same m

[2021-11-29 13:51] soulgalore commented on #1683
So in plain language I think that error happens because of something else that goes wrong in the test. Usually you can see that either by checking the logs (it should be an error before the visual metrics error), check the screenshot (what was actually tested) and check the other metrics that was collected.

[2021-11-29 14:15] soulgalore commented on #1671
How to reproduce:
1. Make sure you have Firefox 94 installed
2. `git clone git@github.com:sitespeedio/browsertime.git`
3. `cd browsertime`
4. `npm install`
5. `bin/browsertime.js https://www.mozilla.org -b firefox`

[2021-11-30 21:49] soulgalore commented on #1671
See https://bugzilla.mozilla.org/show_bug.cgi?id=1740116#c15

[2021-12-06 09:39] jajo-shubham commented on #1598
Hey @soulgalore I was checking out the quick time video hack project. It seems to run on go. How do you plan to run the dependency for non docker builds?  Will it be like a pre requisite for this particular flag?

[2021-12-06 20:12] soulgalore commented on #1598
It will only work on Mac OS (since webdriver only work there). The dependencies will be installed by brew and the QuickTime hack will be a binary.

[2021-12-09 20:02] soulgalore commented on #1683
@gmierz could you help me to get some more information here? I sure wanna help out fix it but its hard without more details. Thanks!

[2021-12-09 20:18] gmierz commented on #1683
Hi @soulgalore, sorry for the delay!

I don't think we have the fix you mentioned in your first comment. I'll update our version and set a need info for myself on the bug to let you know if it's been fixed.

Thanks for the ping!

[2021-12-16 18:27] gmierz commented on #1683
@soulgalore it looks like the browsertime update is working. I'm gone for the holidays for a couple weeks now though so I'll come back to this with another update in early January. Happy holidays! :)

[2021-12-16 20:29] soulgalore commented on #1683
@gmierz what's worrying is that the fix was to keep the video if something fails during the tests = something is probably failing in your tests.
Have a nice holiday :)

[2021-12-22 09:12] soulgalore commented on #1671
It seems like the preferences that fixed the problem in 94, do not fix it in 95. Getting a lot of

`The HAR export trigger returned an empty HAR{'version':'1.2','creator':{'name':'Firefox','version':'95.0'},'browser':{'name':'Firefox','version':'95.0'},'pages':[],'entries':[]}'}`

in the test logs.

[2022-01-24 08:43] soulgalore opened #1698 "Firefox generates [ERR_INVALID_URL]"
There's an error that pops up on our Windows tests now and then that looks like this:
[code]

It only happens on Firefox and I also get it now in Firefox on Android when running tests against WebPageReplay.

The code that generates the error:
[code]

[2022-01-24 09:55] #1698 closed

[2022-01-26 06:43] dyh333 opened #1702 "how to use Browsertime from NodeJS with login script?"
![image](https://user-images.githubusercontent.com/1221313/151115223-c21b7e6d-ba3f-4df3-8a4c-469eca3b65a7.png)

as the title, could give a example how to call login script in nodejs. i only find a simple example using browsertime in nodejs.

![image](https://user-images.githubusercontent.com/1221313/151115483-83ab7c5f-cf9a-4760-8c23-5dc7085ac2f2.png)

thanks. @soulgalore

[2022-01-26 07:59] soulgalore commented on #1702
Hi @dyh333 yep sorry that is not documented. Checkout https://github.com/sitespeedio/browsertime/blob/main/lib/core/engine/index.js#L400 - that's the entry point for running scripts.

[2022-02-03 15:12] Zapfmeister opened #1709 "Integration with Grafana tempo via opentelemetry"
### Your question

Hi,

i would love to get the waterfall charts shown here: [Compare](https://www.sitespeed.io/examples/#compare)
into Grafana, as shown on the bottom of the page here: https://grafana.com/blog/2021/04/13/how-to-send-traces-to-grafana-clouds-tempo-service-with-opentelemetry-collector/

This would allow to combine all the logs from the infrastructure hosting the page with the actua

[2022-02-03 20:54] soulgalore commented on #1709
Hi @Zapfmeister maybe, I haven't worked with Tempo. What you need to do is to build a new plugin that transform the HAR to the new format. There are some docs on how to build a plugin here: https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin

Everything that happens in sitespeed.io will be passed on the message queue: https://www.sitespeed.io/documentation/si

[2022-02-04 21:55] soulgalore opened #1711 "Getting a gecko profile on Android do not work"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://en.m.wikipedia.org/wiki/Barack_Obama

### What are you trying to accomplish

Getting a ge

[2022-02-04 21:56] soulgalore commented on #1711
Storing the geckoprofiler needs: `this.firefoxConfig.android.package` but I guess then that it isn't set.

[2022-02-04 21:58] soulgalore commented on #1711
Setting `--browsertime.firefox.android.package org.mozilla.firefox` fixes the problem.

[2022-02-08 14:46] #1711 closed

[2022-02-08 14:47] #1671 closed

[2022-02-11 11:29] soulgalore opened #1724 "Improve unit tests"
### Feature/improvement

The unit tests have been overlooked for a while: I never run the locally and in GitHub Actions they sometime fail for no reason. Lets redo them and then run most of the tests against a local server (we used to do like that X years ago).

[2022-02-12 14:08] soulgalore commented on #1702
Closing let me know if that didn't help.

[2022-02-12 14:08] #1702 closed

[2022-02-12 14:09] soulgalore commented on #1683
I think this is fixed.

[2022-02-12 14:09] #1683 closed

[2022-02-12 14:10] #1656 closed

[2022-02-12 14:10] soulgalore commented on #1618
Closing let me know if that didn't help.

[2022-02-12 14:10] #1618 closed

[2022-02-12 14:11] soulgalore commented on #1613
This is fixed!

[2022-02-12 14:11] #1613 closed

[2022-02-12 14:11] soulgalore commented on #1603
I don't see this as problem of Browsertime, must be an npm or proxy problem

[2022-02-12 14:11] #1603 closed

[2022-02-12 14:12] soulgalore commented on #1505
Thinking this has been fixed in Selenium? Please let me know if this is stil a problem.

[2022-02-12 14:12] #1505 closed

[2022-02-15 09:57] #1724 closed

[2022-02-18 02:56] dyh333 commented on #1702
@soulgalore  it is useful. thanks very much.

[2022-03-03 01:28] dyh333 opened #1737 "can i generate the result pages using browsertime script"
### Your question

@soulgalore, hi, can i generate the result pages using browsertime script?

this is generated using cli

![77b9f06389767e3d1d80803783e485d](https://user-images.githubusercontent.com/1221313/156478698-de7b03be-db09-4498-8a20-13e9952b3840.png)

[2022-03-04 08:21] soulgalore commented on #1737
Hi @dyh333 I'm not sure I fully understand the question?

 If you use Browsertime the outpout is JSON. If you use scripting (https://www.sitespeed.io/documentation/sitespeed.io/scripting/) you can store data/html if you want but the code runs after each iteration. Any reason you can't use sitespeed.io directly? Or like what's your main goal?

[2022-03-17 10:39] nhp commented on #1497
I had the exact same issue and could fix it with adding `--cap-add=NET_ADMIN` and `--browsertime.connectivity.engine=throttle` to the docker run command. Afterwards it worked flawless.

[2022-03-25 14:24] soulgalore commented on #1681
Cool @gmierz I sure want to try it out, but I'm gonna need to add hero element and JPEG too, let me explain why:
- the "hero" (I hate that name by the way) is super useful to pickup when elements are actually rendered (for example knowing the logo and the largest image). It uses [element timings](https://developer.mozilla.org/en-US/docs/Web/API/Element_timing_API) (not implemented in Firefox), so

[2022-03-26 14:54] gmierz commented on #1681
Ok, I should be able to easily add the JPEG method. @soulgalore can you provide a visualmetrics.py command and data to test the hero element? I'll spend a bit of time there to see if I can quickly implement it.

I agree that changing the structure of the file would be great but I think that's something we can leave for others to tackle.

[2022-03-27 13:23] soulgalore commented on #1681
Thank you @gmierz !

I added a video and a JSON with matching test data in https://github.com/sitespeedio/browsertime/tree/hero/browsertime/test_data/hero

`./visualmetrics.py --video test_data/hero/1.mp4 --herodata test_data/hero/visualElements.json.gz --orange  --json --force`

[2022-03-28 15:18] gmierz commented on #1681
@soulgalore would you know why the hero calculation is using the alpha channel of the PNG frames?

It seems like it's just a trick to make masking faster, but I want to make sure before I get rid of that. I don't see a reason for checking the alpha channel here when we don't take it into consideration in any of the other methods. I'm going to test it without the alpha handling, but I'm curious to

[2022-03-28 15:18] gmierz commented on #1681
Also, just a note that I've already converted the JPEG methods to use python dependencies.

[2022-03-28 16:55] gmierz commented on #1681
Ok cool, thanks for the context! :)

I've the hero calculation working now. With the data you've given me, I am able to get the same numbers:

With existing script:
`
{"SpeedIndex": 815, "FirstVisualChange": 766, "LastVisualChange": 1000, "VisualProgress": "0=0, 766=69, 833=69, 900=92, 966=92, 1000=100", "videoRecordingStart": 900, "LargestImage": 1000, "LastMeaningfulPaint": 1000, "logo": 1000, "

[2022-03-28 16:59] gmierz commented on #1681
@soulgalore here's the new script with the JPEG, and hero timing methods converted to use python dependencies: https://github.com/gmierz/browsertime/commit/3ba27ec362876b5346569a9fbfe709bf82532d72

[2022-03-28 17:26] soulgalore commented on #1681
Wow, I'm gonna try it asap, thanks for all the work, really exciting!

[2022-03-29 17:08] gmierz commented on #1681
PR #1741 has landed and adds a new portable visualmetrics script (usable with --visualMetricsPortable) with ImageMagick dependencies converted into Python dependencies. I didn't want to link this issue with the PR directly since there are still some tasks to take care of:
1. Better organization of the files.
2. Removal of FFMPEG (if possible).
3. Conversion to a Node.js script.

[2022-03-29 17:41] soulgalore commented on #1681
@gmierz many many thanks for your work! If its ok for you I'm gonna PR later this week to the portable version to remove all the functionality we do not use in Browsertime (and you can review that I don't remove something you use at Mozilla). I want shrink than 2756 lines of code to make it mora manageable as a first step.

[2022-03-29 17:59] soulgalore commented on #1681
A did quick check I think we can reduce the size by at least 700-800 lines of code :)

[2022-03-29 19:15] gmierz commented on #1681
That sounds good to me @soulgalore!

[2022-03-30 09:32] soulgalore opened #1744 "Issues with portable script"
Hi Greg, when did some test runs today I found some new things that I missed before or maybe got introduces not sure.

Using main branch running a test:
`❯ bin/browsertime.js --video --visualMetrics --visualMetricsPortable https://www.sitespeed.io -n 1` do not produce any video after the test, that is removed. My guess is that there's a check somewhere that somehow become broken with visualMetrics

[2022-03-30 11:29] gmierz commented on #1744
Thanks for the ping, I'm looking into it.

One thing to note is that I had an issue trying to run browsertime. Here's the error I was getting:
[code]

I managed to get around it by using node version 16 but the package.json mentions the version needs to be >=10.

[2022-03-30 11:39] soulgalore commented on #1744
Let me fix that, it should always be latest LTS release of NodeJS.

[2022-03-30 11:53] gmierz commented on #1744
I can't reproduce this failure. I see the 1.mp4 file in the browsertime-resultls folder. Note that the path in the folder that was created for me is different from yours: `sitespeedio/browsertime-results/www.sitespeed.io/2022-03-30T073230-0400/pages/www_sitespeed_io/data/video/1.mp4`

Are you using python v3+ to run the visualmetrics-portable.py script? I've seen silent failures for this before (I

[2022-03-30 12:06] soulgalore commented on #1744
I could see that the video was produced (and then later removed) and I got visual metrics, but they where off. I'll have closer look tonight.

[2022-03-30 12:12] gmierz commented on #1744
Sounds good.

The `fineTuneVideo` method prevents us from being able to check if the values of the new script agree with the old script since it modifies the original video. I have a feeling that this is where that difference you are seeing is coming from. If you run the old, and new script on that exact video that was modified from the original, you should get the same values.

What I do when I w

[2022-03-30 14:33] soulgalore commented on #1744
@gmierz sorry I think it could be something that is broken in my setup. When I tested on another machine it works just fine. I'm gonna try some more tonight.

There's a trick to store the original video, you can use `--videoParams.keepOriginalVideo` and then you will have the untouched video named _1-original.mp4_ in the video directory.

[2022-03-30 14:34] gmierz commented on #1744
Ah thank you! I completely missed that. :)

[2022-03-31 07:26] soulgalore commented on #1744
Problem solved. Somehow I missed installing numpy. If you add -vvvv to your run, the log file from visual metrics is kept after the test finished so that was how I found out.
[code]

@gmierz is it possible to add checks that the new dependencies are installed before the run? Right now the script continues and surprisingly it produces metrics without numpy (but the metrics are wrong). I'm thinking

[2022-03-31 11:59] gmierz commented on #1744
@soulgalore sure! There's a couple ways I could go about fixing this but to keep the workflow similar to the previous script, I'll add a call to check the requirements before running (even if --check isn't provided).

[2022-03-31 14:29] soulgalore opened #1746 "Geckoprofiler visualProgress timestamp is null"
In the Geckoprofiler.json the visual metrics progress field is broken as reported in https://github.com/firefox-devtools/profiler/issues/3966#issuecomment-1084300943

`"visualMetrics":{"FirstVisualChange":766,"LastVisualChange":2200,"SpeedIndex":832,"VisualProgress":[{"timestamp":null,"percent":0},{"timestamp":null,"percent":1},{"timestamp":null,"percent":100},{"timestamp":null,"percent":100},{"ti

[2022-03-31 14:34] soulgalore commented on #1746
Looking at the code (https://github.com/sitespeedio/browsertime/blob/main/lib/firefox/webdriver/firefox.js#L210-L213) that seems to be something that comes from the FirefoxWindowRecorder. That extra calculation should probably not be used when you use ffmpeg recorded video.

[2022-03-31 14:57] julienw opened #1747 "Provide an option so that we don't need to run sudo commands"
### Feature/improvement

When running browsertime on Linux, commands are run using `sudo`. It's a bit surprising and not really nice. It would be good to:
* explain what is executed using `sudo` in the console
* have a possibility to skip these commands at all

[2022-03-31 18:27] gmierz commented on #1744
See PR #1749 for the issue related to requirements.

[2022-03-31 19:33] soulgalore commented on #1747
Hi @julienw can you show me how you run? You should be able to run without sudo but if you set connectivity using connectivity engine throttle, you need sudo rights to be able change network interface. That log message _"Changing network interfaces needs sudo rights. Setting connectivity profile .."_ could be tuned though, do you have an idea how we can make that better?

[2022-04-01 06:23] soulgalore commented on #1744
Thanks @gmierz ! I've pushed the new portable script so it runs for all tests on dashboard.sitespeed.io and I went through the metrics and it looks great! I've been checking the fastest of X runs for first visual change to make sure we don't pickup something too early (that happened before in old versions of the script) but it looks good!

[2022-04-01 06:23] #1744 closed

[2022-04-01 07:03] soulgalore commented on #1746
Including @gmierz: what do you think is the best way to get when in time the recording actually starts with ffmpeg (like firstFrameStartTime with window recorder)?

[2022-04-01 12:12] gmierz commented on #1746
@soulgalore assuming you mean when the page starts loading, that would be the first frame after the last orange frame. Note that I was poking around at the recordingStartTime metric and I think it might be causing issues: https://github.com/sitespeedio/browsertime/blob/bcdaeaebbbaa40c845e6171526c642668852c573/lib/video/screenRecording/firefox/firefoxWindowRecorder.js#L60-L64

It's unclear to me wh

[2022-04-01 14:37] soulgalore commented on #1747
Ok, hmm, that shouldn't be a thing. Do you have other NodeJS projects installed that works fine? I'll have a try later this weekend.

[2022-04-01 15:18] julienw commented on #1747
Yeah usually I have no problem running nodejs scripts :)
I'm on a Debian Linux in case this helps, node v16.13.

[2022-04-01 15:27] julienw commented on #1747
I finally ran it (by mistake: I ran sudo before and forgot :) ) and so got the executed programs in my system logs:

[code]

[2022-04-01 15:28] julienw commented on #1747
Then this is this code:
https://github.com/sitespeedio/browsertime/blob/d55019ab041ad818295c8d940561217099e18ccc/lib/support/dns.js#L27-L38

[2022-04-01 18:39] soulgalore commented on #1747
Argh I see, that is my fault. I pushed that some time ago and it would make more sense to only do that when you run throttle, let me fix that to the next release.

[2022-04-04 13:20] soulgalore opened #1753 "visualmetrics-portable hero time error"
I picked up one error on the test server from the new portable script:

[code]

I'll try to get a video for that tonight.

[2022-04-04 13:43] gmierz commented on #1753
Thanks for finding this! I'll take a look once I have the video and visual elements that caused this.

[2022-04-04 19:58] soulgalore commented on #1753
I couldn't reproduce this locally and looking at the test result it wasn't uploaded, so probably something was fundamental broken when we tried to record the video. Gonna close it now and then create a new one if it happens again. One thing that would be cool that we could implement is that we keep the original video if visual metrics fails, so its easy to try locally.

[2022-04-04 22:02] gmierz commented on #1753
+1 to keeping the original video that failed, that's a good idea

[2022-04-05 14:47] soulgalore commented on #1746
I don't need it, someone at Mozilla once needed it I guess? :D For me we could remove this but if you feel it adds value we should aim to fix it.

[2022-04-05 16:37] julienw opened #1756 "browsertime visual metrics don't work with wayland"
### Feature/improvement

I'm using wayland on my Linux, and it looks like that browsertime uses x11grab (which is x11-based) to capture the video of the app. Probably we need another way to do that with wayland.

I know Gnome has some built-in capability to do that, but I don't know if we can tap into this, or even if that would be a good idea to be tightly coupled with Gnome.

[2022-04-05 17:07] soulgalore commented on #1753
It's the same page again but a different error:

[code]

I'll push so we store the original video and keep this open until we have video we can work with.

[2022-04-05 21:39] gmierz commented on #1753
Sounds good, I think that either the image or the crop region being given is empty. Can you get the visual element positions too? I had a visualElements file last time I tested it

[2022-04-06 06:28] soulgalore commented on #1753
`You are right, let me fix that the coming days.

[2022-04-06 06:29] soulgalore commented on #1747
This is fixed now, thanks @julienw for creating the bug!

[2022-04-06 09:59] julienw commented on #1747
Thanks for the quick fix!
Should we close the issue then?

[2022-04-06 10:43] soulgalore commented on #1747
Yes wanted you to verify that it worked for you first :)

[2022-04-06 11:10] julienw commented on #1747
Yep, it's all good now!

[2022-04-13 15:37] bthrall opened #1765 "EBUSY error on Windows using '--firefox.collectMozLog'"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.reddit.com

### What are you trying to accomplish

I am trying to capture Firefox log

[2022-04-13 18:01] soulgalore commented on #1765
Hi @bthrall thanks for creating the issue! I pushed a test if the Windows GitHub action to check if I can reproduce it.

[2022-04-13 19:11] soulgalore commented on #1765
Yep I got the same. I think we rename those file when Firefox is still running, I'll make a PR to fix that early next week.

[2022-04-13 20:39] soulgalore commented on #1753
Hi @gmierz so I finally got hold of one of the examples where they fail on the test server:

[2-visualElements copy.json.gz](https://github.com/sitespeedio/browsertime/files/8484523/2-visualElements.copy.json.gz)

https://user-images.githubusercontent.com/540757/163266417-2358eb58-121c-40e1-8e2f-1a38f97d7c7a.mp4

I haven't tried them myself yet.

[2022-04-14 09:05] soulgalore commented on #1753
I tried and it's reproducible.

[2022-04-19 14:23] gmierz commented on #1753
@soulgalore the issue should be fixed now with this merged PR: https://github.com/sitespeedio/browsertime/pull/1770

I'll close this now, and we can re-open it if we see it again.

[2022-04-19 14:23] #1753 closed

[2022-04-28 14:17] marty90 opened #1777 "No Har file when using Safari on MacOS Monterrey"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

www.google.com

### What are you trying to accomplish

I am using BrowserTime on MacOS with Safar

[2022-04-28 19:13] soulgalore commented on #1777
Hi @marty90 yep I know, it not implemented. I created a Feedback assistant issue some years ago trying to convince Apple to implement a easy way to get the HAR. There's a little bit about in the blog post: https://www.sitespeed.io/all-i-want-for-christmas/#-some-love-from-the-safari-team

Feedback Assistant is private but that issue is almost the same as https://bugzilla.mozilla.org/show_bug.cgi?i

[2022-05-04 15:05] gmierz commented on #1681
Idea from @soulgalore from PR #1780:
`
One thing though, I'm thinking in the future we should add a way of setting the filmstrip screenshot size, the default one is actually too small when you try to see those little changes. And the full screenshot is really large.
`

[2022-05-09 10:55] soulgalore opened #1784 "visualmetrics-portable throws error for hero times"
I'll try to hunt down the original video and settings for it.

[code]

[2022-05-10 06:25] soulgalore commented on #1784
It's reproducible using:
` ./visualmetrics-portable.py --herodata 1-visualElements.json.gz.failed.json.gz -i 1.mp4.failed.mp4 --orange --force --renderignore 5 --json --viewport --viewportretries 60 --viewportminheight 100 --viewportminwidth 100  -vvvv`

[1-visualElements.json.gz.failed.json.gz](https://github.com/sitespeedio/browsertime/files/8658746/1-visualElements.json.gz.failed.json.gz)

http

[2022-05-10 17:37] gmierz commented on #1784
Actually, the issue is that the region given from the mask is completely outside of the view so we get an empty array (note how the height offset is past the maximum):
[code]

I'll add a fix to ensure we don't go past the maximum, and to ignore/skip these masks. It's odd how the original script doesn't raise a failure here when it certainly should.

[2022-05-10 17:44] soulgalore commented on #1784
Thanks for looking at it @gmierz!  I haven't tested with the original script. I can also change the behaviour of how the metrics is chosen, so that we verify that it is on the screen when we get the sizes, that seems to be a good thing too.

[2022-05-10 17:48] gmierz commented on #1784
That would be much better! I'll only add some checks for boundaries, but otherwise I think having this error thrown is valid and I'll add some custom errors for it.

[2022-05-10 20:07] soulgalore commented on #1784
@gmierz I think there's missmatch then how things are calculated/recorded? Looking in the visual element file that is generated from the JavaScript that runs in the browser, it says the viewport `"height":640,"width":360` and the element location is `x":26,"y":594` and the size is `height":69," width":188,"`. But in the video I see that the element is pushed out of screen. So the problem is that w

[2022-05-10 20:47] gmierz commented on #1784
Oh I think what may have happened is that the element was cropped out. The location values get scaled correctly, but still fall out of bounds.

Ok, the 0 value makes sense since it's continuously comparing against either an empty or a blank image.

[2022-05-30 20:22] adnan-ahmed opened #1799 "ReadyIndex (based on Vesper NSDI'18)"
### Feature/improvement

I was wondering if there's a way to measure the interactivity of the web page via browsertime.
Essentially we want to identify the timing information of the functionality of the elements on the web page. This paper [Vesper' 18](https://www.usenix.org/system/files/conference/nsdi18/nsdi18-netravali-vesper.pdf) proposes a ReadyIndex which is a measure of the visual progress

[2022-05-30 20:24] adnan-ahmed opened #1800 "ReadyIndex (based on Vesper NSDI'18)"
### Feature/improvement

I was wondering if there's a way to measure the interactivity of the web page via browsertime.
Essentially we want to identify the timing information of the functionality of the elements on the web page. This paper [Vesper' 18](https://www.usenix.org/system/files/conference/nsdi18/nsdi18-netravali-vesper.pdf) proposes a ReadyIndex which is a measure of the visual progress

[2022-05-30 20:24] #1800 closed

[2022-06-07 17:20] Icecold777 opened #1804 "wait for specific condition during page load in scripted flow"
### Feature/improvement

From recent time I have to evaluate conditions on page pretty often.
So I decided to implement wait.byCondition method to share it with everyone.

https://github.com/sitespeedio/browsertime/pull/1803
pull request introducing changes

[2022-06-07 17:42] mstange commented on #1746
The Firefox window recorder code contains the following comment which justifies the use of a timestamp:

https://searchfox.org/mozilla-central/rev/1c6bb1476e86b6d428b26d04e6ea3f4367528c77/gfx/layers/CompositionRecorder.cpp#39-44
[code]

[2022-06-09 17:31] bdekoz commented on #1756
I am assuming the DISPLAY environment variable is :0 for you?

[2022-06-13 19:29] soulgalore opened #1807 "visualmetrics-portable.py:137: DeprecationWarning: LANCZOS is deprecated and will be removed in Pillow 10 (2023-07-01)."
Hi @gmierz going through some logs and seen the deprecation warning, can I just change to _Resampling.LANCZOS_ ?

[2022-06-13 19:49] soulgalore opened #1808 "Errors in visual metrics portable script"
There's been some errors in the logs from the visual metrics-portable script the last days, let me document them and follow up.

[code]

[code]

[2022-06-13 20:04] soulgalore commented on #1808
@gmierz so I forgot what `Cropped image is empty. Image dimensions ...`? I't one of the "hero"-element that fails right and I guess the largest contentful paint since that was the last one I added, and I said I should fix that by verify that it existed? I think I did but not good enough. I'll check that again the coming days.

[2022-06-15 12:49] gmierz commented on #1808
Yes, this is coming from the hero elements so there's something wrong with the sizes/dimensions we're getting from them. Verifying the element exists or has a non-zero size would be a good way of taking care of this issue.

[2022-06-15 12:54] gmierz commented on #1807
Assuming they are just asking us to change how we use it then there should be no problems with that change. Here's the docs I looked at which suggest this is the case: https://pillow.readthedocs.io/en/stable/reference/Image.html?highlight=Resampling#PIL.Image.Resampling

[2022-07-12 20:47] soulgalore commented on #1784
There problem on that page is a heading that is one pixel high that somehow fails, and that also makes all other metrics fail. The fix in the PR fixes that only the first broken heading fails.

[2022-07-16 11:55] soulgalore commented on #1784
I think that fixed the main issues.

[2022-07-16 11:55] #1784 closed

[2022-07-16 11:56] soulgalore commented on #1808
This is fixed, the problem was that if one fails, all fails.

[2022-07-16 11:56] #1808 closed

[2022-07-23 09:29] vitkhab opened #1820 "Webdriver chooses wrong loopback ip addr if there are several ips bound to interface"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://ya.ru

### What are you trying to accomplish

I'm trying to run sitespeed docker containe

[2022-08-09 14:40] Sourick93 commented on #1154
@soulgalore I m facing this similar issue, What was the fix in this case ?

[2022-08-10 12:05] soulgalore opened #1827 "Only add lastCPULongTask to the HAR file if it's smaller than the rest of the metrics"
When looking at a HAR file on slow mobile phone, the last CPU long task really can make the waterfall broken. Lets fix that by only adding that if it smaller than the rest of the metrics.

[2022-08-11 12:58] soulgalore opened #1829 "Largest Image is not picked up on Android Moto G5 for Visual Metrics"
For the main page on Wikipedia on mobile I could that in our tests we do not pickup when the largest image is painted (using the old visual metrics script). Let me try to reproduce that and try with the new script.

[2022-08-12 08:49] soulgalore commented on #1829
This was my mistake where I missconfigured the tests :(

[2022-08-12 08:49] #1829 closed

[2022-08-26 13:41] soulgalore opened #1836 "preWarmServer do not work on Android"
The --preWarmServer functionality do not work on Android, Browsertime tries to open the browser on desktop instead of on the phone. I did a fix during the summer to make it work with headless but apparently that was not enough to fix it for Android.

[2022-08-29 18:26] #1836 closed

[2022-08-29 18:27] soulgalore opened #1838 "Get wifi name for Android tests."
Running together with humble it would be super useful to also store the wifi name in the Browstertime info section in the result JSON.

[2022-08-30 09:51] soulgalore commented on #1838
This is released.

[2022-08-30 09:51] #1838 closed

[2022-08-30 09:51] soulgalore commented on #1827
I disable adding that for now.

[2022-08-30 09:51] #1827 closed

[2022-08-30 09:53] soulgalore opened #1840 "Long tasks are picked up from metrics collecting on slow devices"
With tests running on a Moto G5 I could see long tasks happens after we stopped the Chrome trace log, meaning the task is picked up from when we get other metrics.

A workaround could be to get the long tasks first directly for Chromeium based browsers, and then run the collection of the rest of the metrics.

[2022-09-14 06:29] Pravin7689 opened #1845 "Unable to setup sitespeed.io on windows"
With node js i am not able to setup locally. Facing below error

request to https://registry.npmjs.org/Browsertime failed, reason: write EPROTO 04250000:error:0A000152:SSL routines:final_renegotiate:unsafe legacy renegotiation disabled:c:\ws\deps\openssl\openssl\ssl\statem\extensions.c:908:

I am using windows os and node version is 8.19.1

[2022-09-14 08:43] soulgalore commented on #1845
Hi @Pravin7689 try upgrading NodeJS, we stay up to date with NodeJS LTS https://nodejs.org/en/ - so try with NodeJS 16.

[2022-09-14 08:54] Pravin7689 commented on #1845
Tried with 18.9.0 but still facing same issue

[2022-09-14 17:15] soulgalore commented on #1845
Hi, It seems like people also have problem with 18 https://stackoverflow.com/questions/73630463/write-eproto-b8150000error0a000152ssl-routinesfinal-renegotiateunsafe-legac , can you please try with 16?

[2022-09-20 17:31] soulgalore commented on #1840
This has been fixed.

[2022-09-20 17:31] #1840 closed

[2022-09-21 11:32] GianlucaPoliTo opened #1849 "Cookies accept"
### Your question

Hi, I am trying to do some experiments on browsing and measuring different websites, and I want to complete the experiments by also considering the websites when the cookies are accepted.

To achieve this with Browsertime, I am trying to do the following:

-first, start with the "real Chrome browser", browse the web pages and accept the cookies manually.
 This way the cookie's d

[2022-09-21 14:19] soulgalore commented on #1849
Hi @GianlucaPoliTo I think Chrome starts with a clean profile everytime. I think the way to do it is to setup a new profile directory, you do that with the switch `--user-data-dir=/path/to/dir` to Chrome, and then when you run Browsertime add `--chrome.args "user-data-dir=/path/to/dir"` or something. I know that the Firefox team sets up new profiles for their tests but I haven't tested with Chrome

[2022-09-21 15:07] GianlucaPoliTo commented on #1849
Hi @soulgalore, thanks for the reply. The flag you suggest is exactly what I tried, but it seems that browsertime-chrome somehow "rejects" the option.

I mean, if I create the desired profile using my own Chrome and then use <code>
--user-data-dir</code> to link the correct path to browsertime-chrome, it does not seem to work for some reason.

To clarify, let us always assume that we are looking a

[2022-09-22 09:02] soulgalore commented on #1849
I see, let me try tonight to see how it works. When I dealt with cookies, before I just copy/pasted the cookie from the network tab and added it as a header, but then you need to match the cookie per URL, setting up a profile would be cool.

There's some info here (for setting up another profile with `--profile-directory`): https://stackoverflow.com/questions/52394408/how-to-use-chrome-profile-in-

[2022-09-22 09:07] soulgalore commented on #1849
Also the `--debug ` mode can be very helpful here in Browsertime. Use it and the browser will pause after the navigation, I think that's the easiest way to setup the profile.

[2022-09-22 09:10] soulgalore commented on #1849
I did a quick test and for Node JS this seems to work:

`browsertime https://www.1177.se -n 1 --chrome.args user-data-dir="/path/config/google-chrome" --debug`

And then I click all cookie banners etc and close the browser and then run:
`browsertime https://www.1177.se -n 1 --chrome.args user-data-dir="/path/config/google-chrome"`

[2022-09-22 09:10] soulgalore commented on #1849
I'll try with Docker tonight.

[2022-09-22 11:05] GianlucaPoliTo commented on #1849
Yes, I can confirm that this works, and that is also the only case where I can make it work.

To be as clear as possible I'll continue with some examples.

Small disclaimer: if you are not using Linux (Ubuntu) the path for user-data-dir could be different.

**Example 1** - reuse my own original chrome profile with browsertime npm

<code> browsertime --chrome.args user-data-dir="~/.config/google-ch

[2022-09-22 11:24] GianlucaPoliTo commented on #1849
Ok, I can now confirm that example 2 should work. I tried it out right away!
So we can move the profile from browsertime-npm to docker (at the moment there was an error doing the reverse).

But I am not yet able to do the same from chrome-base to npm-browsertime/docker-browsertime.

[2022-09-22 16:32] soulgalore commented on #1849
Ok, do I understand correctly that if you start Chrome yourself, you haven't been able to use that profile for browsertime? And you you used the same switch to set the data dir for Chrome?

[2022-10-17 18:21] canova opened #1857 "Await for the gecko profiler start instead of adding a synthetic delay"
### Feature/improvement

Currently browsertime adds a delay after the gecko profiler start command:
https://github.com/sitespeedio/browsertime/blob/79e9b0e1f72c3005641b1131173cdaaf24f93a51/lib/firefox/geckoProfiler.js#L89-L90

[2022-10-18 05:46] soulgalore commented on #1857
Hi @canova ah cool, so then I can just remove the extra wait and it will work as it should right?

[2022-10-18 10:02] canova commented on #1857
Yes, it should work as expected without the extra wait if we properly await the `Services.profiler.StartProfiler`.
Not sure if we are doing it already? [I see an `await`](https://github.com/sitespeedio/browsertime/blob/79e9b0e1f72c3005641b1131173cdaaf24f93a51/lib/firefox/geckoProfiler.js#L89) in front of the `runner.runPrivilegedScript` call but there is no await inside the script that's passed to

[2022-10-19 07:24] linqunhe opened #1858 "config.json plugin add field no work"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://glitch.com/

### What are you trying to accomplish

use json config:

<img width="324" al

[2022-10-19 07:28] soulgalore commented on #1858
Hi @linqunhe thanks for creating the issue, let me have a look at it later today.

[2022-10-25 06:50] soulgalore opened #1862 "Make sure original errors are surfaced"
If the browser fails to start or if something goes wrong along the way, it seems like we throw a new error and it hards to see the exact reason for the error. I've seen that if we use Slack error reporting in sitespeed.io, when Browsertime fails, the error surfaced is BrowsertimeError and some errors that happens in sitespeed.io

[2022-11-28 21:14] zzhao2010 opened #1878 "Add more options for identifying iframe"
Hi,
as per [documentation](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#switchtoframeid), switch.toFrame(id) can be done by id ONLY.. What if a scenario where the iframe doesn’t contain id attribute like the snapshot attached? How do I switch to this iframe? I think it is a pretty common use case. So I wanted to request a feature enrichment for iframe specifically such that there